[2016-01-29 05:40] diwakergupta opened #1 "Improve (or add?) error handling"
Right now errors are very confusing. Example, `get` on a non-existent path fails as:

[code]

The response clearly indicates the error though:

[code]

[2016-03-14 15:36] hotice opened #6 "Asks for authentication code on each run [Linux]"
Each time I run a dbxcli command, it asks for the Dropbox authorization code. Should this be saved to some configuration file?

This occurs using the latest v0.1.1 release (binary downloaded from GitHub) under Ubuntu 16.04 64bit.

Let me know if you need more info.

[2016-03-14 15:39] satori commented on #6
Have you authorized application?
Could you check that auth token is saved in `$HOME/.config/dbxcli/auth.conf`?

[2016-03-14 15:40] hotice commented on #6
Yes, I tried authorizing it a few times and then I gave up :) The app didn't create the ``$HOME/.config/dbxcli/`` folder, so I assume that's why...

[2016-03-14 15:42] hotice commented on #6
After I created the ``$HOME/.config/dbxcli/`` folder manually, the app was able to create the ``auth.conf`` file and save the access token. So the issue here is that dbxcli doesn't automatically create its config directory.

[2016-03-14 15:42] satori commented on #6
It was fixed in #3, but not released yet. We'll make new release soon.
Thanks for information!

[2016-03-14 15:43] hotice commented on #6
Thanks!

[2016-03-14 15:45] #6 closed

[2016-03-16 05:07] #1 closed

[2016-03-24 08:12] hotice opened #7 "Fails on most uploads and downloads"
Pretty much all uploads and downloads fail and this is displayed:
[code]

Using Ubuntu 16.04 64bit and the 64bit dbxcli binary downloaded from GitHub (but this also occurs with older versions).

[2016-03-24 14:02] diwakergupta commented on #7
@hotice I just tried this and both uploads and downloads work fine for me. Note that right now you *must* explicitly supply _both_ source and destination paths like so:

[code]

I will improve the error handling and usage message to make this clear. Please try again and close this out if it works OK for you.

[2016-03-24 14:16] hotice commented on #7
But then how come it works with some files but it doesn't with most? Anyway, can you please post an example, I can't find an example command anywhere and it looks like my logic doesn't work, because using:

```$ dbxcli put /home/andrei/dbxcli/*.png dbxcli/```
does not work. I mean, it works exactly the same as when not specifying a path. I actually have some 5 screenshots in a folder and using eit

[2016-03-24 14:24] diwakergupta commented on #7
Ah, we don't support shell expansion or multiple files just yet. So you need to upload/download one file at a time. So in your case, it would be like:

[code]

Does that make sense? Please do file a feature request for this so we can track and prioritize!

[2016-03-24 14:29] hotice commented on #7
Absolutely, thank you! What I failed to do in my test was to also specify the filename for the Dropbox path (I only used "dbxcli/", without adding the file name). I still don't understand why it worked for a few files, it's pretty weird.

Hopefully my initial command will work soon :)

[2016-03-24 14:48] diwakergupta commented on #7
Yep, hopefully! :smile: Am going to close this out now but please feel free to file a feature request!

[2016-03-24 14:48] #7 closed

[2016-03-31 18:56] diwakergupta opened #8 "Support `ls` on files"
Right now attempting `ls` on files fails:

[code]

[2016-04-14 02:31] kunalkushwaha opened #9 "Bad authorization URL generated."
URL leads to 404 error with msg below.

More details for developers

``Invalid client_id: "t99asy5qf227urb".``

Actual command
[code]

[2016-04-14 03:42] diwakergupta commented on #9
@kunalkushwaha which release are you using? (run `dbxcli version`) I believe you are using an outdated binary. Bunch of breaking changes have gone in since then, so I recommend using the v1+ release (get the latest from https://github.com/dropbox/dbxcli/releases)

[2016-04-14 03:45] kunalkushwaha commented on #9
Hi used latest code.
Basically, I used ``go get github.com/dropbox/dbxcli``

[2016-04-14 03:48] kunalkushwaha commented on #9
Great the binary downloaded from release section works! Thanks :)

[2016-04-14 03:50] diwakergupta commented on #9
@kunalkushwaha yeah, building locally won't work. The release process plugs in a few different values for production that I didn't want to include as part of the source. Thanks for reporting though! LMK if you find the tool useful; lots to be done, PRs welcome!!

[2016-04-14 03:50] #9 closed

[2016-05-22 01:21] waits commented on #8
I'll take a stab at this if you don't mind! I've been looking for more Go projects to contribute to, and I find this tool amazingly useful.

[2016-05-22 23:02] diwakergupta commented on #8
Thanks @waits, go for it!

[2016-05-23 01:34] waits opened #10 "`get` command panics without second argument"
The `get` command currently requires two arguments, a source path and destination path. Running it with one argument, e.g. `dbxcli get /dir/file`, throws this error:

[code]

In this situation I think it would be more intuitive to download the file into the current working directory, just like `sftp` and similar tools do.

[2016-05-23 02:06] waits commented on #8
Looks like the Dropbox API is generating that error; it doesn't allow a `list_folder` action to be performed on files. Unless you want to change the API, I think the best option would be to follow up on that error with a call to `get_metadata` on the filename and print that response data. As far as I can see `get_metadata` returns the same fields as `list_folder` (but only for one file), so the ou

[2016-05-29 20:15] waits opened #13 ""Usage" section of help text is missing arguments"
The "usage" section of the help text for all commands doesn't mention the argument(s) required. Example:

[code]

It should actually say something like this:
`dbxcli get [flags] source [destination]`

Or this:
`dbxcli get [flags] <source> [<destination>]`

This seems to apply to all commands except the ones that don't take any arguments (`du` and `version`).

[2016-05-30 20:09] waits opened #16 "Add `logout` or `revoke` command"
There's currently no way to log out unless you know where the auth token is stashed and go delete it manually. A simple `logout`/`revoke` command would need to do two things:

1. Call `https://api.dropboxapi.com/2/auth/token/revoke` to revoke the active token
2. Delete `~/.config/dbxcli/auth.json`

[2016-06-01 19:49] waits opened #17 "Make `ls` list files in multiple columns"
It would be nice if the `ls` command listed files in columns so more can fit on a screen. Most/all unix-based `ls` commands do this, for example:

[code]

Whereas this tool's output is:

[code]

The output of the `--long` option would of course remain unchanged.

[2016-06-02 05:38] #13 closed

[2016-06-03 05:16] #10 closed

[2016-06-07 06:01] #8 closed

[2016-06-13 05:29] waits opened #20 "`put` command is sending wrong client_modified timestamp"
When uploading a file with the `put` command the `client_modified` timestamp isn't being set. This is causing the SDK to send a default value of "0001-01-01T00:00:00Z", which Dropbox interprets as January 1, 2001 (before accounting for time zones). This incorrect value is displayed in the various Dropbox GUI apps.

This is easily confirmed with the -v flag (note "client_modified" on both lines):
[

[2016-06-20 17:56] diwakergupta commented on #20
Interesting. The API docs do say this field is optional (https://www.dropbox.com/developers/documentation/http/documentation#files-upload), so the behavior does seem surprising. Ideally, Dropbox apps will show the server side timestamp by default, unless clients override. The PR looks good but I'll follow up with folks internally to figure out the desired behavior.

[2016-06-20 17:57] #20 closed

[2016-07-06 19:43] GrantSeltzer opened #25 "Have seperate commands for `rm` and `rmdir`"
Would there be interest for this feature? I think most people using the CLI will be more technical and for the sake of making this cli consistent with standard coreutils would appreciate needing to `rmdir` a directory.

[2016-07-06 19:45] GrantSeltzer opened #26 "Recursive and force flags for rm"
Would there be interest in this feature? I brought up the other issue about having `rmdir`, regardless of whether or not this is wanted there should be a blocker for removing non-empty directories.

[2016-07-06 19:46] GrantSeltzer commented on #17
https://github.com/dropbox/dbxcli/pull/24

[2016-07-06 19:47] waits commented on #25
Either that or a `-r` flag. It's a little too easy to delete a directory with contents.

[2016-07-06 19:48] waits commented on #17
Thanks @GrantSeltzer!

[2016-07-06 21:39] GrantSeltzer commented on #25
#28

[2016-07-09 04:54] GrantSeltzer opened #29 "Allow multiple arguments for cp, rm, mv, etc..."

[2016-07-14 05:10] diwakergupta commented on #25
Fixed by #28

[2016-07-14 05:10] #25 closed

[2016-07-16 16:24] charignon commented on #26
See #31

[2016-07-17 23:29] #17 closed

[2016-07-17 23:41] GrantSeltzer commented on #29
mv handled by #30

[2016-07-18 19:02] GrantSeltzer commented on #26
Force may need to be implemented along with features for prompting users for confirmation that they want to delete. The `-f` would just be to silent those prompts.

[2016-07-20 03:20] GrantSeltzer commented on #29
`cp` handled by #32

[2016-07-21 02:53] GrantSeltzer opened #35 "Interactive mode"
I wanted to share some thoughts and open a discussion about an interactive mode for this project.

The way I picture it:

`dbxcli --interactive` or `dbxcli -i` would enter a repl like environment with a prompt that would allow the user to just enter commands. There could be an exit command to leave the mode.

This alone I don't think is a huge improvement on convenience. If there were some type of

[2016-07-26 12:59] satori commented on #35
On the other hand, caching directory contents would lead to inconsistencies.

[2016-07-26 16:15] GrantSeltzer commented on #35
It definitely has challenges, but what inconsistencies do you have in mind @satori?

[2016-07-31 21:26] waits commented on #35
I think this is a great idea except for the caching. It could be very similar to `sftp`, which is completely interactive. Normal commands work with remote (in this case Dropbox) files and there's a few modified commands (e.g. `!ls`, `!pwd`) to work with local files. AFAIK `sftp` doesn't use caching; commands that list files/folders refetch every time.

[2016-08-01 00:26] GrantSeltzer opened #42 "`search` should show a full path to matching files"

[2016-08-01 00:42] GrantSeltzer commented on #35
Perhaps caching is the incorrect way of solving the issue I had in mind of fixing speed of use. Perhaps some way of 'establishing a connection' I assume authentication is done on a per-command basis. Dropbox api might not support it, I haven't looked into it all, probably would be more work on the sdk rather than dbxcli, if it's even wanted.

Interactive mode can certainly be done easily if there'

[2016-08-01 19:16] #16 closed

[2016-08-01 23:58] waits opened #45 "Unit testing"
Just wanted to start a discussion on unit testing, since @diwakergupta and @GrantSeltzer mentioned it and it's been on my mind as well.

Should we mock all the API responses? It'd be simpler and less fragile that way, besides the initial overhead of creating all the mocks (but those could just be a bunch of files with HTTP/JSON responses). The Dropbox API doesn't have a "test mode", anyways, so I

[2016-08-02 04:57] diwakergupta commented on #45
GoMock seems like the "official" mocking framework (https://github.com/golang/mock), but there are certainly others (e.g. testify https://github.com/stretchr/testify#mock-package)

If we have good coverage via mocks, I'm OK skipping integration tests for regular commits. I can still run the test script by hand before cutting a release. In any case, running integration tests in a CI environment lik

[2016-08-03 16:33] GrantSeltzer commented on #45
Hi, sorry for the late response. Thanks for bringing this up @waits.

So the complication that I see in unit testing comes from the fact that dbxcli is interacting with the dropbox api, so any unit testing has to be careful to be testing dbxcli, and not be affected by problems with the sdk/api.

I'm under the assumption that the api will be kept solid so we don't have to worry about changes on tha

[2016-08-06 13:41] GrantSeltzer opened #46 "Add flag to `rm` for permanent deltion"
Implement the `/permanently_delete` endpoint: [Link](https://www.dropbox.com/developers/documentation/http/documentation#files-permanently_delete)

[2016-08-06 13:51] GrantSeltzer commented on #46
Currently being blocked by #43

[2016-08-06 16:28] waits commented on #46
That sounds great. Maybe `rm --permanent`? Note that it's only available to business accounts; I think the API will just return an error otherwise.

[2016-08-08 14:36] GrantSeltzer commented on #46
@waits Ah, I actually didn't notice that. I thought it would just delete instead of moving to the trash bin. I can certainly still implement it, I'm sure dropbox would like to have it.

[2016-08-21 16:08] #26 closed

[2016-08-23 01:41] murray-grant-fe opened #47 "Authorization error - app has reached its team limit"
Hi,

I'm getting an error when using the pre-built Windows binary when authorizing my dropbox account.

It's a dropbox error when I paste the url into my browser: `This app has reached its team limit. Contact the app developer and ask them to use the Dropbox API App Console to increase their app's team limit.`

![capture](https://cloud.githubusercontent.com/assets/5770871/17877402/60ec23a4-6926-11

[2016-08-23 03:40] diwakergupta commented on #47
Thanks @murray-grant-fe and sorry about that! Can you try again? Should be fixed now. Please reopen if not.

[2016-08-23 03:40] #47 closed

[2016-09-05 18:51] GrantSeltzer opened #50 "Regex matching for arguments"
I haven't put any thought into how this can be done, but I'd like to have the ability to do things like this:

`dbxcli mv *.jpeg MyPictures`

Go has regex matching in the standard library, the issue however becomes breaking out of bash's pattern matching.

[2016-09-05 18:53] GrantSeltzer opened #51 "Concurrent execution for commands with multiple arguments"
As mentioned by @diwakergupta in a comment on #49, performance can be greatly enhanced by levering Go's builtin routine mechanisms. Candidates for this include `rm`, `mv`, and `cp`

[2016-09-08 19:23] GrantSeltzer commented on #29
`rm` handled by #49

[2016-09-08 19:24] GrantSeltzer commented on #29
`put` I think is really important to handle now, but comes with more complications than the others

[2016-09-08 23:38] GrantSeltzer opened #52 "`put` not working as advertised"
I would assume based on the following help text that put can take a source (local file) argument, and/or an argument that represents a location on the users dropbox account for the file to go.

[code]

Instead, if a second argument is specified, the source is uploaded to the root of the dropbox account and is renamed to the second argument.

@diwakergupta is this how it was intended to be used and

[2016-09-09 00:04] waits commented on #52
Hmm, `git blame` says that I wrote that usage text. Apparently I was basing it off out how `put` intuitively *should* work, instead of how it *actually* works.

It doesn't necessarily upload it to the root, it just makes the full path to the file whatever the `target` argument is. I guess it works correctly, in a sense, as long as you include the intended filename on the end of the target path. Ot

[2016-09-09 00:16] GrantSeltzer commented on #52
I don't think the issue is the help text, I think the behaviour should match what you wrote. Another issue is that it overwrites existing files/directories which I think should cause an error instead (Possibly have a force flag to overwrite).

I'm working on this now, but I'm interested to see what @diwakergupta has to say before submitting a PR.

[2016-09-12 19:40] GrantSeltzer commented on #52
@diwakergupta Is there any documentation about how many upload requests the dropbox api can take? I have this working great except if there's a lot of files being passed as arguments at the same time in which case I get errors because of too many upload attempts.

[2016-09-22 09:09] Luzifer opened #53 "Add sync command"
## Usecase

I'm downloading files for one of our team having near to no technical knowledge from a SFTP host and providing those files (filtered) to that team in a Dropbox folder.

## Current way to use `dbxcli`

- Use `find` to list all files
- For each file execute `dbxcli put ${file} ${target}`

This has multiple disadvantages:

- DNS blocking using `block-api.g1.dropbox.com`
- Requests for fil

[2016-09-26 03:12] GrantSeltzer commented on #52
I made a PR with my changes in #54, that would be a good place to continue this discussion.

[2016-09-26 17:01] GrantSeltzer commented on #53
What exactly would happen if I execute sync? Upload all files from source to destination? Or am I misinterpreting your proposal?

[2016-09-28 15:59] Luzifer commented on #53
It should behave like `rsync` does. Checking which files to upload and then upload them.

Like I was doing a `rsync --checksum local/folder/ dropbox://folder/inside/dropbox/` or vice versa…

[2016-10-14 17:24] hut8 commented on #53
A command called `sync`, to me, would also download each of the files that are missing locally. But then there's the issue of conflicts. How would you be able to figure out whether the local version or the remote version should be the one that gets uploaded? This seems like it would get into the territory of the official dropbox client, which continually syncs things to get closer to avoiding that

[2016-10-14 18:09] GrantSeltzer commented on #53
We may be able to just add a `--sync` flag to the `put` command. #54, if it gets merged, will add multiple arguments to `put` as well.

[2016-11-17 21:01] GrantSeltzer commented on #42
#55

[2016-11-17 21:01] #42 closed

[2016-11-23 16:45] C-D-Parker opened #57 "build instructions in readme"
im not familiar with go, so maybe im missing something, but shouldnt there be a makefile or some instructions in the readme as to how to build this project?

[2016-11-23 17:47] diwakergupta commented on #57
@C-D-Parker standard build instructions for any go project apply. In this case, just run `go build`. If you are not making changes and just want to use `dbxcli`, just download the latest release for your platform of your choice.

[2016-11-23 17:47] #57 closed

[2017-01-11 15:16] tplants opened #58 "Can't authorize team management"
Error message from the OAuth authorization URL:

I would love to use the CLI to streamline user provisioning, so would either like to get added to the development list or have production status enabled for the app.

[2017-01-11 16:47] diwakergupta commented on #58
Whoops, sorry about that @tplants ! On the other hand, glad to see I've hit my caps on a "development" status. I've filed for production status so this should hopefully be resolved shortly. I'll update the issue when I have confirmation. Thanks for reporting!

[2017-01-11 18:58] tplants commented on #58
thanks! Looks like a great tool for the ol' toolbox.

[2017-01-25 22:32] slzarate opened #59 "`get` does not work on JPG files"
`./dbxcli get xxx.pdf` and `./dbxcli get xxx.png` both work, but `./dbxcli get xxx.jpg` is not working.

Error message is:
`Error: json: cannot unmarshal object into Go value of type files.IsMediaMetadata`

I've managed to reproduce this with different files of all types and the error message is always the same. `./dbxcli ls xxx.jpg` does work.

[2017-01-25 22:42] slzarate opened #60 "`get` does not work on folders"
Neither `./dbxcli get xxx/*` nor `./dbxcli get xxx/` work for downloading all files from a folder.

The error message is:
`Error: unexpected end of JSON input`

Is there something I'm doing wrong, or has this feature not been implemented yet? Is there an easy way to download all files in a folder?

[2017-01-25 22:45] lfaraone commented on #60
Thanks for the report @slzarate!

This was implemented in #22, but appears to be broken.

[2017-01-26 04:15] diwakergupta commented on #60
Thanks @slzarate and @lfaraone !

@waits do you want to take a crack at this?

[2017-01-26 04:15] diwakergupta commented on #59
How bizarre! thanks for reporting @slzarate , will take a look.

[2017-01-26 19:51] diwakergupta commented on #58
@tplants can you download the latest release and try again? This should be fixed now. Once you verify, I can close this out. Thanks again for the report!

[2017-01-26 22:29] diwakergupta commented on #59
@slzarate I can confirm (and repro) the bug. We need to fix the underlying Go SDK for Dropbox APIs. I'll update here when the bug has been fixed. Thanks for your patience!

[2017-01-28 20:39] skirmess commented on #53
I think a better solution would be to offer a push and a pull command instead of a sync command. That's what [odeke-em/drive](https://github.com/odeke-em/drive) did for Google Drive.

[2017-02-07 17:51] slzarate opened #61 "Generating authorization code no longer works"
When you first do a command using DBXCLI, it asks you to go to the following URL:
`https://www.dropbox.com/1/oauth2/authorize?client_id=mvhz183vwqibe7q&response_type=code&state=state`

This URL now appears to be broken. The error is as follows:

[2017-02-07 17:54] diwakergupta commented on #61
@slzarate that looks like an old binary. Can you download the latest release from https://github.com/dropbox/dbxcli/releases/latest and try again?

[2017-02-07 17:57] slzarate commented on #61
Ah... that worked. Good to know that updates change the URL as well. Thanks!

[2017-02-07 17:57] #61 closed

[2017-02-07 17:58] diwakergupta commented on #61
Well, they normally don't :) This was a special case (which is why I updated the major version to indicate a breaking change) -- I had to switch the app tokens for some security reasons, and thus the URLs were changed too.

[2017-02-09 14:56] vedarthk opened #62 "Invalid client_id when trying to get authorization code"
When I copy and paste the OAuth URL I am getting this error:

[code]

[2017-02-09 17:43] diwakergupta commented on #62
@vedarthk can you download the [latest](https://github.com/dropbox/dbxcli/releases/latest) binaries and try again?

[2017-02-12 00:40] vedarthk commented on #62
@diwakergupta that worked, thanks!

[2017-02-12 00:40] #62 closed

[2017-02-14 00:38] diwakergupta commented on #59
@slzarate can you download the latest release (https://github.com/dropbox/dbxcli/releases/tag/v2.0.1) and try? I've verified the fix locally, but want to make sure it works for you before I close this out. Thanks!

[2017-02-14 00:39] diwakergupta commented on #58
@tplants I'm closing this out; feel free to reopen if the latest release doesn't work for you.

[2017-02-14 00:39] #58 closed

[2017-02-14 00:50] slzarate commented on #59
@diwakergupta On both Mac and Linux I encounter no errors when downloading the various types of files I'm testing (PDF, JPG, PNG, TXT), but now the files are all empty.

[2017-02-14 03:47] diwakergupta commented on #59
Hmm @slzarate can you double check with the latest release? I don't see the same behavior:

[code]

[2017-02-14 17:45] slzarate commented on #59
@diwakergupta Aha... I think I see the problem. That was a mistake in my testing. However, I have uncovered another bug: if I do `get xxx.jpg > yyy.jpg` (as I was testing earlier), it actually creates two files in the folder, xxx.jpg and yyy.jpg. However, yyy.jpg is an empty file (zero bytes). (Should I create a separate issue for this? It does work if you do `get xxx.jpg > xxx.jpg`.)

[code]
$ ./

[2017-02-14 17:57] diwakergupta commented on #59
@slzarate makes sense. This is actually the intended behavior: `get` accepts a `<source>` and an optional `<target>`; if latter is missing, it uses the same name as the source in the local directory.

The "redirect" behavior you are trying to get from `get foo > bar` would only work if we write to stdout if no target was specified -- feel free to open a separate feature request for this. I'll go a

[2017-02-14 17:57] #59 closed

[2017-02-15 16:18] tplants commented on #58
Sorry for delay. This worked slick.

Thanks!

[2017-02-15 19:30] diwakergupta commented on #45
@waits @GrantSeltzer are either of you interesting in working on this? :)

[2017-02-16 18:46] GrantSeltzer commented on #45
@diwakergupta Certainly, but when I have more time post graduation. I think it'd be really useful if we make a milestone for acceptable amount of testing. Under that if we make issues for individual files/import functions it would make it easier to attract contributors for community :D

[2017-02-18 20:00] hermanocabral opened #63 "Specify auth token as an argument"
Howdy,

What about having the option to specify the auth token as an argument?

Something like:
`dropboxcli put file_here destination_here -v -token token_here`

[2017-02-21 17:50] diwakergupta commented on #63
@hermanocabral sure, that's relatively easy to add (and in fact earlier versions used to have this capability). What would you do this with capability though? The only use-case I can think of is making it easier to debug/test using your own app tokens.

[2017-02-21 22:55] hermanocabral commented on #63
Hey!

Well, the main use case would be to use dbxcli in scripts and stuff like that. Right now I'm using Azure Blob storage + AzCopy (https://docs.microsoft.com/en-us/azure/storage/storage-use-azcopy) but using Dropbox would be so much easier IF I could simply pass an auth token in the command line.

[2017-02-25 06:11] garyemerson opened #64 "Unable to Authorize App"
I ran `go get -u github.com/dropbox/dbxcli` and then `./dbxcli du`. This is the auth url I'm given: `https://www.dropbox.com/1/oauth2/authorize?client_id=mvhz183vwqibe7q&response_type=code&state=state`

and this is what I get when I visit:
![screen shot 2017-02-24 at 10 07 34 pm](https://cloud.githubusercontent.com/assets/5726308/23328726/f58eda4e-fadd-11e6-8649-fd1589a0c083.png)

Am I doing somet

[2017-02-25 16:59] diwakergupta commented on #64
@garyemerson known issue, please download the [latest release](https://github.com/dropbox/dbxcli/releases/latest) and try again. Thanks!

[2017-02-25 17:01] diwakergupta commented on #64
More specifically, `dbxcli` is no longer `go get`-able -- you need to use the pre-built binaries. This is because we no longer embed the security tokens used for the production app in the source code.

[2017-02-25 18:33] garyemerson commented on #64
Hmm, I see. I wanted to use this on my headless raspberry pi and I think my only option is compiling from src. Is that possible? From `build.sh` it looks like I need a few secret keys and stuff.

[2017-02-25 20:17] diwakergupta commented on #64
@garyemerson I'm happy to generate builds for you if you can send me the OS/platform combo (seems like 32-bit ARM?). To do your own builds yes you'd need to register your own apps and use your own keys.

[2017-02-25 21:57] garyemerson commented on #64
Awesome, that'd be great. Just created #65!

[2017-02-27 05:41] diwakergupta commented on #64
Should be fixed now that #65 is merged. I'm pushing new builds, please download the latest ARM build and LMK if it works!

[2017-02-27 21:50] garyemerson commented on #64
It works great, thanks a bunch!

[2017-02-27 21:50] #64 closed

[2017-03-09 04:24] markdomansky opened #66 "Rename a file?"
Am I doing something wrong?  There doesn't seem to be a way to rename or copy a file to a new name.

I've tried the following:
dbxcli cp x.txt test/y.txt
dbxcli mv x.txt y.txt
Both end up with a folder (/test/y.txt or /y.txt respectively) with x.txt inside it.

I'd settle for a 'ren' command, but I'd like to see support with cp and mv commands.

[2017-03-09 17:58] diwakergupta commented on #66
@markdomansky thanks for the report. Let me dig into this and get back to you. Might just be a matter of improving documentation and providing some more examples.

[2017-03-14 19:53] ubergarm commented on #60
This is the only function that I needed, but it doesn't work on any of the half dozen release binaries that I tried.

So as a tribute to Guido who works at Dropbox, I figured I'd make a minimal CLI around `dropbox-sdk-python` so as to goad you `golang` crowd into fixing it. ;)

[GITHUB ubergarm/pydbxcli](https://github.com/ubergarm/pydbxcli)
[DOCKER ubergarm/pydbxcli](https://hub.docker.com/r/uber

[2017-03-14 20:03] slzarate commented on #63
@hermanocabral: I currently use dbxcli in a script. I've found that, somehow, the following seems to work:
`echo "$auth_code" | /dbx version && echo "$auth_code"`

If you remove one of the echoes it no longer works (I think; it's been a while since I worked on this). But that should work.

[2017-03-20 22:04] mbigras opened #67 "How do I install this program?"
I'm running macOS 10.12.1.

How do I install this program?

I downloaded the `dbxcli-darwin-amd64` file from the [releases](https://github.com/dropbox/dbxcli/releases) page. I tried adding executable permissions and running it but it failed:

[code]

[2017-03-20 22:29] diwakergupta commented on #67
Quick Googling indicates a lot of people run into this if they are some anti-virus software etc on their machine, e.g. https://github.com/golang/go/issues/16730 and https://github.com/golang/go/issues/8801

Can you try some other Go binaries? That will help isolate if this is a problem with how `dbxcli` is built, or something specific on your machine.

[2017-03-21 03:05] ryallappasetty opened #68 "v2.0.2 in Windows ls not returning results unless verbose"
When I run dbxcli with the ls / it does not return anything. if I run it verbosely e.g. dbxcli ls / -v it returns:

2017/03/20 20:03:15 client.go:1510: arg: &{ false false false false}
2017/03/20 20:03:15 client.go:1527: req: &{POST https://api.dropboxapi.com/2/files/list_folder HTTP/1.1 1 1 map[Content-Type:[application/json]] {0xc042067950} 0x653400 124 [] false api.dropboxapi.com map[] map[] <n

[2017-03-24 20:44] mbigras commented on #67
@diwakergupta Thank you for getting back to me. Yes I've been reading around and I'm pretty sure the problem is because of my work machines antivirus [Cylance](https://www.cylance.com/en_us/home.html).

* Do you know what the fix is?
* Do I need to install Go along with the `dbxcli-darwin-amd64` exe?

This is my version of Cylance:

![](https://www.dropbox.com/s/0j53jimyuhw1ajm/Screenshot%202017-0

[2017-03-24 20:53] lfaraone commented on #67
I'd report it as a false positive to Cylance -- it looks like they just have a particularly aggressive filter?

Go binaries are by default statically linked; installing Go is only needed if you want to rebuild it from source.

[2017-03-28 16:09] mbigras commented on #67
This is an issue with Cylance. The fix is to contact your IT department and ask them to adjust your policy.

[2017-03-28 16:09] #67 closed

[2017-04-05 03:29] khalwat commented on #53
FWIW, the `awscli` offers a similar sync functionality to what is being proposed here:

http://docs.aws.amazon.com/cli/latest/reference/s3/sync.html

[2017-04-06 13:46] budhrg opened #69 "Could not able to copy a tar.gz file in my dropbox folder"
Unable to copy the `...tar.gz` into my dropbox folder.

[code]

[2017-04-09 16:27] Fil opened #70 "Allow several profiles"
I tend to use multiple accounts on Dropbox and would like to be have something like a `--profile=(email)` option for `dbxcli` to chose the account.

[2017-05-24 04:48] diwakergupta commented on #70
@Fil interesting; so you are actively using multiple, personal Dropbox accounts? I'd be curious to hear if this is a common use case. Doing what you are asking should be doable, but will likely require breaking changes to the configuration format. An easier solution might be to add an option to override the default configuration _location_ -- that way you can simply point dbxcli to different direc

[2017-05-24 04:56] diwakergupta commented on #69
@budhrg I think I know what happened here -- we can definitely improve the documentation!

Basically, `cp` is meant to to copy files that *already exist* in your Dropbox to another location in your Dropbox. If you want to upload a new file in your Dropbox, use `put` instead.

Hope that helps! LMK if that works and I can close this out. Of course, appreciate any PRs to improve the documentation!

[2017-05-24 04:58] diwakergupta commented on #68
@ryallappasetty Weird. I don't have a Windows machine handy for testing, so it'll be a bit hard for me to debug this immediately. Are you comfortable building/testing dbxcli? Maybe you can help me figure this out!

[2017-05-24 05:19] Fil commented on #70
I'm not actively using it (was doing tests). Yes multiple config dirs would
certainly work.

[2017-06-14 22:01] gustavo-momente opened #71 "List deleted files and possibly recover them"
Currently I can only restore a file if I know its `revision`.

But imagine that somehow a bunch of files got deleted and I didn't got their `revision` or their `name`, so I'd like to recovery all those deleted files.

I think I could figure out a solution if somehow I could list deleted files, so would that be possible?

[2017-07-03 23:08] deanna opened #72 "Usage question with wildcards"
Hey y'all,

Discovered this genius lil project while looking for a way to organize my Dropbox files via command line-- I have a very large folder that's not synced with my desktop, and the web interface is so slow and gross for doing heavy lifting. I'm on mac OS 10.12.5, and downloaded the latest Darwin binary (v2.0.2).

I have enough general command line knowledge to break just about anything, wh

[2017-07-08 03:55] diwakergupta commented on #72
Hey @deanna , sorry for the delay and thanks for trying out `dbxcli`! Can you run with `-v` and paste the output? Note that unlike their POSIX variants, some dbxcli commands like mv and cp treat both `<src>` and `<dst>` as paths within your Dropbox folder. I know the documentation is lacking -- I welcome (and really appreciate) PR!

[2017-07-08 14:07] deanna commented on #72
No worries on timing! Appreciate any help in general.

[code]

[2017-07-21 09:39] robphoenix commented on #60
I don't think this has been implemented yet. The functionality added in #22 is to be able to specify a **destination** folder, as in download file `text.txt` into the directory `here`:

[code]

Rather than downloading a directory.

I've had a brief look into it this morning, and unless I'm mistaken, you can't download a directory via the API. So, to implement this I assume you would have to get th

[2017-07-21 15:47] ubergarm commented on #60
@robphoenix

Ahh, thanks for clarifying my misunderstanding. Recursively downloading a directory and all its contents / files is the use case I desire.

The official [dropbox-sdk-python](https://github.com/dropbox/dropbox-sdk-python) has a built in function to recursively list all files/folders e.g. [dbx.files_list_folder(path='', recursive=True)](http://dropbox-sdk-python.readthedocs.io/en/latest

[2017-07-25 22:46] diwakergupta commented on #72
Hey @deanna , I'll try to improve the self-help documentation and error handling, but what you're trying is simply not supported, at least now. Key is what I mentioned earlier: `dbxcli mv` **requires** that _both_ `src` and `dst` are _already within your Dropbox_.

Notably, your command relies on shall expansion, which means it'll only work for local files. You might be able to achieve the desired

[2017-07-25 22:46] #72 closed

[2017-07-25 22:52] diwakergupta commented on #71
@gustavo-momente this should be easy to implement!

The [list_folders](https://www.dropbox.com/developers/documentation/http/documentation#files-list_folder) API already has a `include_deleted` flag (defaults to False). So you'd need to introduce an option to set that. See https://godoc.org/github.com/dropbox/dropbox-sdk-go-unofficial/dropbox/files#ListFolderArg

Once you have a path for a deleted

[2017-07-25 23:22] #69 closed

[2017-07-25 23:24] diwakergupta commented on #66
@markdomansky both `cp` and `mv` should work for your use-case. For instance, assuming you have a file `x.txt` and a folder `test` in your Dropbox, the following should work (I tested in my Dropbox):

[code]

[2017-07-25 23:24] #66 closed

[2017-07-25 23:27] diwakergupta commented on #60
@ubergarm ListFolder already supports the recursive flag, see [ListFolderArg](https://godoc.org/github.com/dropbox/dropbox-sdk-go-unofficial/dropbox/files#ListFolderArg)

So first step would be to add a `--recursive` option to `dbxcli ls`. Then you can pipe the output into `dbxcli get`. Would that work for you?

cc/ @robphoenix

[2017-07-25 23:31] slzarate commented on #60
@diwakergupta FWIW, the workaround I ended up writing was effectively a recursive `dbxcli ls` that fed into `dbxcli get`. Glad this is getting some attention!

[2017-07-25 23:34] diwakergupta opened #74 "Add `--recurse` option to `ls`"
Will help unblock #60

[2017-07-26 04:34] diwakergupta commented on #68
@ryallappasetty I'm finally able to test on Windows and am able to repro this bug, thanks again for the report! I'm investigating, will update once I have more info.

[2017-07-26 04:59] diwakergupta commented on #68
Alright, `dbxcli ls -l` works just fine so it's just a display issue. I believe the bug is in `golumns.Display` -- @GrantSeltzer can you take a look?

[2017-07-26 05:10] diwakergupta commented on #68
Specifically, I think `GetSize` (https://github.com/golang/crypto/blob/master/ssh/terminal/util.go#L81) doesn't work as-is on Windows.

On that note, I'm also considering if it's worth pulling in the crypto/ssh dependency just for terminal size. Will explore options.

[2017-07-26 17:23] #68 closed

[2017-07-26 17:26] diwakergupta commented on #68
@ryallappasetty should be fixed with v2.0.4 onwards -- can you download the latest release and try?

[2017-07-26 18:08] #74 closed

[2017-07-26 18:34] robphoenix commented on #60
Thanks @ubergarm I suspected that's what was going on.

@diwakergupta It looks like that would work for sure, I intend on spending some time tomorrow looking into implementing this and hope to submit a PR for review soon. Thanks for #74 as well, really helps pointing the way.

[2017-07-26 20:19] diwakergupta commented on #35
Hey everyone, right now I don't see this use-case as a good fit for dbxcli. Feel free to reopen or file a more specific request as appropriate.

[2017-07-26 20:19] #35 closed

[2017-07-26 20:25] diwakergupta commented on #50
We could exploit [move_batch](https://www.dropbox.com/developers/documentation/http/documentation#files-move_batch) for this.

Note that `mv` already supports moving an entire folder (see the documentation for [move_v2](https://www.dropbox.com/developers/documentation/http/documentation#files-move_v2))

[2017-08-15 21:48] dhanasekaran-anbalagan opened #75 "dbxcli download issues ( Error: unexpected EOF )"
Hi Guys,

When I try to download the file using dbxcli utility, I am getting unexpected end of file error.

**~]$ dbxcli version
dbxcli version: v2.0.6
SDK version: 1.0.0-beta
Spec version: 6194bea**

**> Error: unexpected EOF**

please let us know if we need more info.

[2017-08-18 18:14] juanfra684 opened #76 "Build official binaries for more OS"
Due to #64, we will always need an official binary to authorize dbxcli in the dropbox site. Can you build official binaries for more OS?. I think that a good example is [syncthing](https://github.com/syncthing/syncthing/releases). They build binaries for everything. I would like binaries for at least OpenBSD.

[2017-08-28 16:25] diwakergupta commented on #75
@dhanasekaran-anbalagan is the error with any files, or just this particular file? Specifically, can you try downloading smaller files and LMK if that works. Basically trying to isolate if this is an issue with very large files.

[2017-08-28 18:22] dhanasekaran-anbalagan commented on #75
@diwakergupta thanks for the reply. smaller files ( less than 1GB ) we don't have an issue. The only issue with bigger file more the 2GB+

please let me know if you need more info

[2017-08-30 00:13] PatNarciso commented on #9
I digg this tool!  and am finding it useful.
I did just get stung by this issue; and learned (from this post) that the pre-compiled versions are ideal for testing.

I would appreciate being able to configure the client_id.
Is this something that can be done via 'export' variables upon build?

Thank you.

[2017-08-30 22:02] coatless opened #77 "Request: Add `dropbox.py` sharelink option"
Could you please add to `dbxcli` a way to obtain the share link of a given file. e.g.

[code]

This was previously in the [headless dropbox cli given as `dropbox.py`](https://www.dropbox.com/en/help/desktop-web/linux-commands). I would like to switch over from using `dropbox.py` to `dbxcli`, but my main usage case is a way for the CLI to generate sharing links for files. c.f. [`dropcli` R package]

[2017-09-08 07:32] mikaelmantel opened #78 "Better output for ls"
Hello,

When i use ls for listing all my files in a directory, the output is very strange :

![capture d ecran 2017-09-08 a 09 31 07](https://user-images.githubusercontent.com/7966573/30200746-80567216-9478-11e7-99ee-84f6cd66577e.png)

why the amount of whitespace is not fix ? or just use tabs ?

Thank you

[2017-09-08 13:53] mikaelmantel commented on #75
I got the same thing but with a smaller file (1,1 Mo) :

`root@pmx1:/home/dropbox/backup# ./dbx get "Operations/Tools/WinX32/7z920.exe" "Operations/Tools/WinX32/7z920.exe"

Error: unexpected end of JSON input`

[2017-09-08 16:57] diwakergupta commented on #75
@mikaelmantel this looks like a different error (unexpected EOF vs. end of JSON input). Do you mind sending me the version info (`dbxcli version`) and verbose output (`dbxcli -v get ...`)? Also make sure you are working with the latest release.

[2017-09-08 16:58] diwakergupta commented on #75
@dhanasekaran-anbalagan when you say you're able to download via the Python API, are you using the built-in helper utilities or have you written your own code using the API?

[2017-09-08 16:59] diwakergupta commented on #78
@mikaelmantel yes, it's not ideal. We do use tabs, but the output can still be warped depending on the size of your screen / terminal. We used to have better formatting in the past, but there were some platform specific dependencies that made the binaries fail on windows, so I had to trade-off formatting for more platform support.

If you do `ls -l` you should slightly better output. Meanwhile, su

[2017-09-08 16:59] #78 closed

[2017-09-08 19:49] dhanasekaran-anbalagan commented on #75
Yes, we are using built-in helper utilities, have attached example program.

[code]

[2017-09-11 14:17] mikaelmantel commented on #78
Ok, i didn't know ! Thank you, i succeeded to parse with ls -l .

[2017-09-11 14:22] mikaelmantel commented on #75
@diwakergupta Oouupss, I did not see that the message was different.

`
dbxcli version: v2.0.6
SDK version: 1.0.0-beta
Spec version: 6194bea
`

`
2017/09/11 16:22:00 sdk.go:76: arg: &{/Operations/Tools/WinX32/7z920.exe }
2017/09/11 16:22:00 sdk.go:76: req: &{POST https://content.dropboxapi.com/2/files/download HTTP/1.1 1 1 map[Dropbox-Api-Arg:[{"path":"/Operations/Tools/WinX32/7z920.exe"}]] <nil>

[2017-12-01 19:53] mndrix opened #79 "Invalid client_id when trying to get authorization code"
I've installed dbxcli via "go get" since binaries are not available for OpenBSD.  When I copy and paste the OAuth URL I get this error:

[code]

Issue #62 resolved this problem by installing the latest binaries.  Since those aren't available for my platform, how should I proceed?  Thanks.

[2017-12-01 20:11] diwakergupta commented on #79
@mndrix yes, 'go get' won't work because the credentials in the code base are "dummy". If you are really motivated, you can register your own apps (https://www.dropbox.com/developers/apps) and build using your own credentials. It'll be simpler though for me to just add OpenBSD to the list of generated binaries -- only caveat is that I have no way of testing them, so you'll be on your own there.

L

[2017-12-01 20:58] #76 closed

[2017-12-01 20:58] #79 closed

[2017-12-02 08:35] mndrix commented on #79
That sounds good to me.

[code]

[2017-12-02 16:49] diwakergupta commented on #79
@mndrix try the binary from the latest releases page and LMK!

https://github.com/dropbox/dbxcli/releases/latest

[2017-12-04 07:53] mndrix commented on #79
The OpenBSD binary release is working fine for me.  Thanks

[2017-12-09 22:26] alan707 opened #80 "improve OS nomenclature under releases page?"
Maybe other people will find it useful as well.  The nomenclature of the different OS releases is a bit counterintuitive for OSX users.  `Windows` and `Linux` are clear, but how about changing the name from `Darwin` to `OSX`?

I am happy to add an explanation on how you can figure out if you have AMD or ARM in your system.

[2017-12-09 23:53] alan707 opened #81 "write better documentation for OSX installation instructions"
It is not very clear how to install the dbxcli binary.  Installation instructions on the README.MD file would be super helpful.

[2017-12-10 05:24] alan707 opened #83 "write instructions on how to install dbxcli for linux"
similar to OSX installation instructions, we need a similar set of instructions of Linux.

[2017-12-10 18:44] diwakergupta commented on #80
Sure, feel free to send a PR!

[2017-12-10 22:53] alan707 commented on #80
@diwakergupta I've sent a PR to improve installation instructions on `README.MD` keeping the current nomenclature: https://github.com/dropbox/dbxcli/pull/82

[2017-12-11 02:52] alan707 commented on #83
@diwakergupta once PR #82 gets pulled in, I have another PR ready that adds Linux instructions

[2017-12-13 22:32] threkk opened #85 "JSON error during login."
**Version**:
[code]
**Error**:
[code]
**`auth.json`**:
[code]

[2017-12-13 22:36] diwakergupta commented on #85
@threkk yes this is a bug in the SDK and already fixed in master -- let me push a new dbxcli release!

[2017-12-13 22:48] diwakergupta commented on #85
@threkk should be fixed in the latest release. Can you give them a try (works locally for me):
https://github.com/dropbox/dbxcli/releases/latest

I'm going to close this out; feel free to reopen if needed.

[2017-12-13 22:48] #85 closed

[2017-12-13 22:51] threkk commented on #85
Thank you very much for your quick assistance!! It works perfectly now!

[2017-12-14 08:46] banool commented on #77
I would love to see this too. Is there a way to make this happen? If you could point me in the right direction, I might take a look at it myself.

[2017-12-16 16:50] coatless commented on #77
@banool I believe the sharelink code can be found in:

https://www.dropbox.com/download?dl=packages/dropbox.py

[2017-12-16 16:52] coatless commented on #77
Looks like the code for this can be found here:

https://github.com/dropbox/nautilus-dropbox/blob/48c2d695ab52f36ab1895ce42beacf458aa2700b/dropbox.in#L1022-L1045

[2017-12-16 20:49] diwakergupta commented on #77
@coatless just to make sure I understand correct, you want an option in dbxcli to obtain the link you can use to share a file or a folder. Is that right?

This is actually pretty easy to do, you can even work from an existing PR:
https://github.com/dropbox/dbxcli/pull/41
https://github.com/dropbox/dbxcli/pull/40

LMK if you want to take a stab. Otherwise I'll try to implement sometime in the next

[2017-12-18 10:24] banool commented on #77
Awesome @diwakergupta, thanks for looking into this! Much easier for you than for me to learn the codebase and try it.

[2017-12-24 03:16] banool opened #86 "go build: Cannot use versionCmd"
I'm trying to compile, but I'm running into the following error:

    Daniels-MBP:dbxcli daniel$ go build
    # _/Users/daniel/github/dbxcli
    ./main.go:43:24: cannot use versionCmd (type *"github.com/spf13/cobra".Command) as type *"github.com/dropbox/dbxcli/vendor/github.com/spf13/cobra".Command in argument to cmd.RootCmd.AddCommand

Prior to this I cloned the repo and ran these commands:

[2017-12-24 14:44] diwakergupta commented on #86
@banool First, unless you're actually developing dbxcli, you shouldn't need to build from source. Just download the latest binary for your platform from the releases page:
https://github.com/dropbox/dbxcli/releases

Second, you shouldn't need to `go get` anything additional -- all the dependencies are vendored-in (see the `vendor` directory). So if you've cloned the repo, just running `go build` i

[2017-12-24 14:44] #86 closed

[2017-12-28 21:46] banool commented on #86
Running `go build` on its own doesn't work. I still get the same error about `versionCmd`. When I remove the versionCmd line, like I said the auth step doesn't work, I still get that 400 error.

[2017-12-29 05:30] diwakergupta commented on #86
@banool are you sure you are compiling in the correct directory? `vendor` directories only work if your GOROOT, GOPATH etc are all setup correctly. FWIW, I just did the following:

* Create a vanilla Ubuntu VM container on Google Cloud
* Install `go` and `git`
* Create `$HOME/go`
* Run `go get github.com/dropbox/dbxcli`
* `cd ~/go/src/github.com/dropbox/dbxcli`
* `go build`

This works perfectly f

[2017-12-29 05:36] diwakergupta commented on #86
Actually from your original post, seems like you are compiling from the directory `Users/daniel/github/dbxcli` -- this will *NOT* work. You need to create `$HOME/go` and then run `go get`. To learn more, see https://golang.org/doc/install#testing and https://golang.org/doc/code.html#Workspaces

[2017-12-29 21:59] banool commented on #86
Ah that worked for me build wise. The output of `go env` is:

[code]

I'm using `.go` as my go folder instead of `go`, which I imagine should be fine considering the `GOPATH` is set to it.

I still can't do the auth step. When it gives me the link to follow, I arrive at this page:

![400 error page](https://dl.dropboxusercontent.com/s/lbbo1njv0xyq86d/Screenshot%202017-12-30%2008.58.19.png?dl=0)

[2018-01-01 17:44] kvpb opened #87 "[README.md#Mac_OSX_Installation_of_pre-compiled_binaries] Use cURL instead of Wget"
[macOS installation instructions](https://github.com/dropbox/dbxcli/blob/master/README.md#mac-osx-installation-of-pre-compiled-binaries) should mention `curl` instead of `wget` since wget isn't installed by default on macOS. 'Novice' users who ended here from Google may not know Homebrew. I suggest you some example of new command line below, but I haven't tested it.

**Dropbox's command lines:**
[

[2018-01-02 04:45] diwakergupta commented on #86
@banool also expected. If you want to build and test dbxcli yourself locally, you'll need to register your own apps here: https://www.dropbox.com/developers/apps

[2018-01-02 04:47] diwakergupta commented on #87
Sure, feel free to send a PR!

[2018-01-02 06:17] banool commented on #86
Ah. I feel there should maybe be instructions in the README or CONTRIBUTING files that tell newcomers how to do all of this, at least the API stuff. It wasn't readily apparent to me that this was necessary, nor is it obvious what to do now that I have to. For example, I see in `build.sh` that there are 3 different keys that it is referring to, but I'm only given one keypair when making an app. I i

[2018-01-03 02:04] banool commented on #77
I've put together a solution for this in #89.

[2018-01-07 20:07] ecker00 opened #90 "ls -lR lists deleted files"
Seems to me the `ls -lR` command seems to return old deleted files in some cases, which by the looks of it is unintentional and should probably be a separate flag.

[2018-01-18 16:57] saudalwasly opened #91 "Restoring all files in a directory to a given data/time"
This is more a feature request than an issue. I noticed that the tool supports one file restore at a time. And it requires you to provide the revision number, not the date and time.  I guess this has limited usage or usefulness. It would be easier for me to restore one file from DropBox.com web interface.

However, what I believe is more useful is to make the tool able to restore the entire folder

[2018-03-18 07:38] Vcwmz opened #92 "Can't get the suthorization code."
hello~ Is anyone here now?
i have download the dnxcli and go build. but when i use the commod " dbxcli ls ",three lables are displayed:
1.Go to https://www.dropbox.com/1/oauth2/authorizeclient_id=mvhz183vwqibe7q
&response_type=code&state=state
2. Click "Allow" (you might have to log in first).
3. Copy the authorization code.

I follow it and   i can't get into this site.

This is the error:  Error

[2018-03-18 13:31] gonejack opened #93 "dbxcli check permission after the upload instead before"
Upload a large video file from Linux server to dropbox account using dbxcli by this command:

[code]

After long long time waiting, the command end with error: no permission with the root directory, which  punch me on the face: it's really a rookie mistake of transfer tool.

[2018-03-18 18:23] diwakergupta commented on #92
Please don't `go build` dbxcli yourself -- instead, download one of the pre-compiled binaries for your platform from the releases page (https://github.com/dropbox/dbxcli/releases)

[2018-03-18 18:23] #92 closed

[2018-03-18 18:24] diwakergupta commented on #93
Hmm @gonejack , thanks for the report. Can you repro this with a smaller file (so it's faster to fail!) and include the output with the `--verbose` flag? That will help debug. If the issue is indeed of permissions, you're right, we should be able to fail fast.

[2018-03-18 18:25] diwakergupta commented on #91
@saudalwasly thanks, that's a good suggestion! Feel free to submit a PR, otherwise I'll keep this in mind for future.

[2018-03-19 01:31] gonejack commented on #93
Tried with an empty txt, here is the output:

[code]

[2018-03-21 00:29] simsong opened #94 "dbxcli doesn't detect when OAuth2 token no longer works"
I was using the dbxcli and I disconnected it from the "connected apps" section. Now it doesn't work, which is what I was expecting. But I can't figure out how to reconnect it. How do I do that?

[2018-03-21 00:35] simsong commented on #94
Apparently if you `logout` from the cli, you can then log back in with the `account` command. So the problem is that the cli doesn't handle the case properly when its OAuth2 token no longer works.

[2018-05-05 11:31] debuti commented on #60
+1

[2018-05-16 14:25] isomorphisms opened #95 "dxcli cat"
This is a feature request. It would be nice to have, at least for plaintext files, `dbxcli cat /directory/what.is.in.here`. Or `head`.

[2018-05-16 15:27] isomorphisms opened #96 "dbxcli mv"
I’m apparently the second person expecting `dbxcli mv file /path/to/folder` to infer the filename – like GNU `mv -t`.

https://stackoverflow.com/questions/36169788/conflict-folder-move-dropbox-api

This makes moving all files into a folder easier. Eg `dbxcli mkdir /path/to/images` `;` `dbxcli mv image*png /path/to/images/` is easier than ingesting the `ls` loop and spitting it back out with ` `, `

[2018-05-16 15:30] lfaraone commented on #94
Can you provide output of what the error is in this case, and what it should be instead?

[2018-05-18 13:07] simsong commented on #94
Unfortunately, I don't have the error output anymore.

[2018-05-18 13:07] #94 closed

[2018-06-07 16:41] danesparza opened #97 "Using a SOCKS proxy?"
Looking at the command line help, it's not clear:  How do I go about using dbxcli with a SOCKS proxy?

[2018-06-07 16:51] danesparza commented on #97
It looks like I just answered my own question.  In bash, it's as simple as setting

`HTTP_PROXY="socks5://127.0.0.1:1080/"`
and
`HTTPS_PROXY="socks5://127.0.0.1:1080/"`

prior to running the command line.

[2018-06-07 16:51] #97 closed

[2018-06-25 06:53] igrep commented on #53
I also want this feature because my Dropbox account has so many files that the desktop app can't handle well (over 700k files).
With this feature, I can synchronize the folders only when needed, disabling synchronizing folders with many files but infrequently updated (and I want to have the contents both at the local and remote).

[2018-07-17 15:08] feklee opened #99 "Version mismatch"
`dbxcli version` reports:

    dbxcli version: 0.1.0
    […]

The release on Git, however, is tagged `v2.1.1`.

Background: I am writing a set of BASH scripts that use `dbxcli`, and I would like to add a “dependency check” based on the version number reported by `dbxcli`.

[2018-07-17 15:55] feklee commented on #60
FYI I wrote a set of wrappers around `dbxcli`:

https://github.com/feklee/dbx-tools

The goal is making it easy to maintain a local mirror of selected Dropbox files and directories. Supported in particular are recursive `get` and `put`. I use *dbx-tools* from within [Termux](https://termux.com/), a terminal emulator for Android. (In fact, I developed *dbx-tools* on my phone.)

[2018-08-06 19:52] averyfreeman commented on #91
Hello, I'd like to piggy-back on this feature request

I was wondering if it would be possible to do the opposite of this - so maybe easier to implement both at the same time?

I need to delete file history (permanently delete files) for everything a week or older, since some of my files I have in dropbox I cannot keep for that long for certain security concerns.

Right now I have to manually dele

[2018-08-20 14:35] #63 closed

[2018-08-26 03:42] necrose99 opened #100 "gox"
**https://github.com/mitchellh/gox**

can get multiple platforms windows,linux,bsd etc in one "go"

[2018-08-26 04:00] necrose99 commented on #100
made a glide yaml while i was at it..

scw-0321f9 /usr/src/dbxcli # cat glide.yaml
package: .
import:
- package: github.com/dropbox/dbxcli
  version: ^2.1.1
  subpackages:
  - cmd
- package: github.com/dropbox/dropbox-sdk-go-unofficial
  version: ^4.1.0
  subpackages:
  - dropbox
  - dropbox/auth
  - dropbox/files
  - dropbox/sharing
  - dropbox/team
  - dropbox/users
- package: github.com/dustin/

[2018-09-09 17:38] Poky85 opened #101 "Add selective sync command"
My Dropbox shows following warning:

In fact, I do not use Dropbox so intensively. My usage is ~ 100 GB. But I have huge amount (~ 530,000) of small files in folders like `node_modules`.

It would be nice to have a way to programmatically mark such folders for selective sync.

[2018-09-11 23:39] nobias opened #102 "Move error when moving between subfolders"
Hi! Thanks for this very useful piece of software! I was trying to rename a file in a particular subfolder of my Dropbox:
`dbxcli mv /foo/tmp/trace.pdf /foo/tmp/trace2.pdf -v`

Here's the error output that I got:
[code]

I also tried moving a file from one subfolder to a different, existing subfolder. This results in a similar error: Looking at the first line of the output, it seems that dbxcli ap

[2018-10-15 17:06] anishkny opened #104 "Provide credentials thru environment variable?"
It is often useful in CI systems etc to provide credentials via an environment variable. Is this possible in dbxcli?

PS: Holy crap @diwakergupta its been a long time and no see! ✋

[2018-10-18 20:17] vaithak commented on #102
I would like to work on this issue.

[2018-10-19 17:20] AlJohri opened #106 "recursive put"
I would love to see a recursive `put`. I have a huge folder (35gigs) that I need to get into dropbox and I can't figure out how. Zipping it up doesn't work for my end user since she'll then need to download the entire 35gigs onto her laptop instead of just select portions.

I tried using [dbx-tools](https://github.com/feklee/dbx-tools) but got various errors trying to set it up. Unfortunately [pyd

[2018-10-20 14:34] diwakergupta commented on #104
@anishkny hola!! 👋

Will cmdline flags work or you absolutely need env variables? I'll look into it.

[2018-10-20 20:07] vaithak commented on #104
@diwakergupta I have added the feature to provide keys using environment variables in PR #107 . Please review it. Thanks.

[2018-10-20 23:00] kshitij10496 commented on #60
Hey guys! 👋
Thanks a lot for the awesome work on the Go SDK and the CLI. 🤗
I stumbled on this issue while trying to solve the same problem.

For me, the method of piping results using: `$ dbxcli ls --recurse | dbxcli get` still results in an error. Am I doing something wrong here?

Also, would it not be a good idea if we could facilitate the user to download the folder as a zip file instead? The D

[2018-10-21 03:19] shadiakiki1986 commented on #60
Not sure how other people have used piping with `dbxcli ls` and `get`, but this is what worked for me

[code]

Versions
[code]

Pseudocode:
- use the `-l` flag for `ls` (long format)
- split on "ago"
- trimming leading/trailing spaces
- piping into `get` as the first argument

If a `-1` flag (one entry per line, like `ls -1`) were available, then the splitting and trimming wouldn't be needed.

The

[2018-10-21 13:50] anishkny commented on #104
cmdline flags should be fine although env vars is a commonly used idiom elsewhere. #107 seems promising!

[2018-10-26 07:44] bolau opened #108 "Upload problems"
Hi,

upload doesn't work for me, and the error messages don't really help:

[code]

This is release v2.1.1. Is this a bug or am I doing something wrong?

Best, Boris

[2018-10-26 07:54] bolau commented on #108
The upload works without a target parameter, problem solved for me.

[2018-11-04 13:24] bekoeppel opened #109 "restore command <file> is the target, where to restore the file"
If I understand it correctly, the `<file>` argument of the `restore` command ([source](https://github.com/dropbox/dbxcli/blob/8b1a9ed3d195a579a2c41d3c9eec86bfcbb66d3d/cmd/restore.go#L48)) is the _target_, where the file will be restored _to_, and not the file itself which is restored, right?

From the API documentation: https://www.dropbox.com/developers/documentation/http/documentation#files-rest

[2018-11-04 16:33] diwakergupta commented on #109
Thanks @bekoeppel , feel free to submit a PR!

[2018-11-05 14:50] boskamp opened #110 "Question: Howto change format of file size and timestamp output by ls -l?"
Is it possible to customize the format of file size and timestamp output by ls -l? I would like to display file size in bytes, and timestamps in some canonical format like ISO8601.

My use case is that I have a local -presumably outdated- revision of my Dropbox tree. I can inspect the files and folder of that local revision using Linux ls -lR, of course. What I would like to have is the exact same

[2018-11-17 15:50] toddca commented on #60
Is anyone piping `dbxcli ls` to `get ` using the windows command line? Looking for an example of how to get this working.

[2018-12-05 06:37] #104 closed

[2018-12-05 06:38] #102 closed

[2018-12-07 20:47] mikhoul opened #111 "Small Issue when using RM"
When I use RM to delete a file in my dropbox it work fine but return `Error: unexpected end of JSON input`

![image](https://user-images.githubusercontent.com/5678673/49671881-591cb900-fa37-11e8-97e3-3442e6750ff3.png)

Regards :octocat:

[2018-12-15 23:30] antoniovandre commented on #101
I could create my own BASH script if the "ls" command also came with a hash, such as MD5.

Could you implement this? ...

[2018-12-19 19:55] antoniovandre commented on #101
I wrote a code in BASH for synchronization, it works perfectly, with one detail: in order not to abuse data transfer and processing, synchronization is performed by a command, with the "tocloud" argument, synchronizing from the disk to the cloud, or with the "tolocal" argument, from cloud to disk.

You can download the scripts and make the changes that suit you best.

[https://www.dropbox.com/sh/d

[2018-12-30 09:03] errordeveloper opened #112 "Long-running sync"
I would like to run Dropbox client on my home fileserver in a container. I can use the current official client, but it comes with a number of dependencies (Python, Qt, ...etc) and I'd prefer to use a more lightweight version.

[2018-12-30 09:04] errordeveloper commented on #112
#53 is related, but from what I can tell it's about one-off sync command.

[2018-12-30 15:35] errordeveloper commented on #112
Another reason I would prefer to use this instead of the official desktop client is that I would be able to compile it for Arm devices or any other architecture really.

[2019-01-04 16:42] nickbasham opened #113 "Add share links"
This is a feature request/enhancement. I would love to see the ability to created a shared link with the CLI.

I share PDF proofs or other files with clients several times per day, and prefer to share with the filename set as an HTML link pointing to the Dropbox shared URL. The following is the manual workflow I currently use:

1) Copy filename in Finder
2) Paste filename in Mail
3) Right-click fi

[2019-01-16 16:16] susan51531 commented on #108
![image](https://user-images.githubusercontent.com/2595468/51262090-99833580-19ec-11e9-8880-43c8bfb3196d.png)
As for me, it will output this message after uploaded 16M/85M.
It's ok after I split this file by 10MB.

[2019-01-16 20:17] mixu00 commented on #108
The same error message with version 2.1.2

$ ./dbxcli version
dbxcli version: v2.1.2
SDK version: 5.2.0
Spec version: 097e9ba

$ ./dbxcli MVI_3933.AVI
Error: Error in call to API function "files/upload_session/append": HTTP header "Dropbox-API-Arg": unknown field 'cursor'

but with version 2.1.0 this seems to working fine.

$ ./dbxcli version
dbxcli version: v2.1.0
SDK version: 4.2.0
Spec version:

[2019-01-16 21:21] aberezin commented on #70
@diwakergupta Can you tell me where the config is located and ill write a script to change it out.  A profile option would be nice but script is fine for me.  I use, at least, my employer's enterprise dropbox and my personal one.  I could imagine (but do not currently) having more than one personal or more than one enterprise (Im a consultant).

[2019-01-22 19:11] Still34 commented on #108
Could we get an update on this issue? I'm also experiencing the `unknown field` error.

[2019-01-26 19:02] MahmoudDolah opened #114 "API related error while attempting to upload a large file"
While attempting to upload this large file, I ran into the following error
It seems to be related to this, perhaps? https://github.com/ncw/rclone/issues/2829

Full output below:

[code]

[2019-01-28 13:18] Still34 commented on #114
Can someone please look into this? It's been several weeks since it broke.

[2019-01-30 19:51] #114 closed

[2019-01-30 19:52] diwakergupta commented on #114
I'm building a new release which should fix this issue. Thanks for your patience.

[2019-01-30 19:54] diwakergupta commented on #108
The latest release (v3.0.0) should fix this. Please give it a try, thanks for your patience.

@Still34 @justelad @mixu00

[2019-01-30 19:54] #108 closed

[2019-01-30 20:01] mikhoul opened #115 "Where are the binary for 3.0 ?"
Where are the binary for 3.0 ?

https://github.com/dropbox/dbxcli/releases/tag/v3.0.0

Regards :octocat:

[2019-01-30 20:03] diwakergupta commented on #115
@mikhoul still building (https://travis-ci.org/dropbox/dbxcli/builds/486589901) -- be patient, will be available any moment now :)

[2019-01-30 20:03] #115 closed

[2019-01-30 20:17] MahmoudDolah commented on #114
@diwakergupta just to confirm you're referring to this release, right?
https://github.com/dropbox/dbxcli/releases/tag/v3.0.0

[2019-01-30 20:55] diwakergupta commented on #114
Yes.

On Wed, Jan 30, 2019 at 12:17 PM Mahmoud Dolah <notifications@github.com>
wrote:

[2019-01-30 20:56] MahmoudDolah commented on #114
Much obliged!

On Wed, Jan 30, 2019, 3:55 PM Diwaker Gupta <notifications@github.com wrote:

[2019-01-31 03:41] xuqingfeng opened #116 "`dbxcli get` throw Error: json: cannot unmarshal object into Go value of type string"
[code]

[2019-01-31 18:21] diwakergupta commented on #116
`get` expects a path in your Dropbox, not a URL. Try `dbxcli ls` first, and then see if you can download `test.md` using the path showed by `dbxcli ls`.

[2019-01-31 18:21] #116 closed

[2019-02-01 07:22] scotartt opened #117 "Authentication inside a docker container"
I want to use this tool to push a build artefact into my Dropbox, from a Gitlab CI/CD process which is running inside a disposable Docker container spawned (and then destroyed) by a GitLab CI/CD runner.

I would like it to be fully scriptable inside a `Makefile` or `.gitlab-ci.yml` and supplied the necessary credentials from a secrets store into its environment. Which is pretty normal ci/cd practi

[2019-02-01 08:10] xuqingfeng commented on #116
I see, thanks.

But it would be very useful if it can download file from a shared link directly.

[2019-02-01 08:20] xuqingfeng commented on #116
Never mind, I can use `wget` instead.

Ref: https://superuser.com/q/1231332/404872

[2019-02-20 06:35] ryanp97 commented on #93
I don't believe this is a permission issue. The root folder is special in that you [cannot retrieve its metadata](https://www.dropbox.com/developers/documentation/http/documentation#files-get_metadata). So, it is not possible to upload to the root folder since upload returns the metadata for the path of the upload.

We can update the help description for the upload command to reflect this if we wa

[2019-02-21 13:56] MyTDT-Mysoft opened #119 "binary for windows is 64bit only (which is counter productive since this program will NEVER need any reasonable amount of ram)"

[2019-02-25 16:33] debuti commented on #60
Since this dont seem to be fixed anytime soon I wrote a little py script to get the job done. Let me know your thoughs

https://gist.github.com/debuti/5887c126811eeae1bf9451e73a7b8fd8

[2019-03-13 16:41] eschnett opened #120 "Return failure exit code when there is an error"
When `dbxcli mv` fails, it outputs an error message, but then returns "success" to the shell. That makes it difficult to catch errors in shell scripts. If there is an error, `dbxcli` should return a "failure" exit code to the shell.

[2019-04-20 19:28] edusantana opened #121 "revs doesn't return a list"
The `revs` command doesn't return a list of file revisions.

![list-revisions](https://user-images.githubusercontent.com/3603111/56461403-dadb0680-6388-11e9-9e0f-076ac4b1e734.png)

It only returns the current revision. As you can see at the dropbox page, this file has two revisions:

![two-revisions](https://user-images.githubusercontent.com/3603111/56461417-137ae000-6389-11e9-8a6e-0a9c698144b8.pn

[2019-04-21 19:51] edusantana commented on #121
Sorry, I discover it was not an error. [I created a repository to show how to restore files using curl](https://github.com/edusantana/dropbox-undo-virus-file-corruption).

[2019-04-21 19:51] #121 closed

[2019-05-22 14:24] hsehdar opened #122 "Unable to put a file to a folder"
### What was the activity?

Upload a file from desktop to existing remote folder.

Uploading 32 KiB/32 KiB
Error: path/conflict/folder/..
foobar@my_pc ~ $ dbxcli-linux-amd64 put Downloads/2019-05-20.pdf /bills-0000000000/.
Uploading 32 KiB/32 KiB
Error: json: cannot unmarshal object into Go value of type string
foobar@my_pc ~ $ dbxcli-linux-amd64 put Downloads/2019-05-20.pdf /bills-0000000000
Uplo

[2019-05-24 09:17] hsehdar commented on #122
### Another work around

Give the file name in the destination like dbxcli-linux-amd64 put Downloads/2019-05-20.pdf /bills-0000000000/2019-05-20.pdf

[2019-05-26 02:07] emailradhesh commented on #122
### Code observations

Function `validatePath(p string)` in root.go trims **p** always.

I suppose it should retain directory name if **p** has it. If **p** does not has prefix **/** then only prefix it.

[2019-05-26 03:49] emailradhesh commented on #122
### Code observations

Function **put** in put.go always takes base of first argument and prefixes with **/** irrespective of what the argument user passes.

[2019-05-27 12:13] louishot opened #123 "Why this script upload speed is slow"
I have use a python sdk https://github.com/dropbox/dropbox-sdk-python
When I upload a file it can go 800Mbps/s but dbxcli only can go about 200Mbps

[2019-05-31 13:43] rofrol commented on #60
I am using rclone to copy all files from dropbox:

`rclone copy dropbox:/ .`

[2019-05-31 13:44] rofrol commented on #106
https://github.com/dropbox/dbxcli/issues/60#issuecomment-497713363

[2019-05-31 13:44] rofrol commented on #101
Try rclone? https://github.com/dropbox/dbxcli/issues/60#issuecomment-497713363

[2019-05-31 13:45] rofrol commented on #53
Try rclone https://github.com/dropbox/dbxcli/issues/60#issuecomment-497713363

[2019-06-23 04:25] se4u opened #124 "Where are dbxcli configuration files stored?"
I downloaded the precompiled binaries for `dbxcli` on OSX. (I don't think the platform is important)

On first run everything went smoothly

[code]

But then I deleted the authorization and then on subsequent runs dbxcli simple throws an error.

[code]

I am guessing that there are some cookies or something being persisted on the file system. Can you say in more detail how I can cleanly reinstall

[2019-06-30 09:05] borkdude commented on #101
I thought this was supported with a tool I used a few years ago called `dropbox-cli`. This had an option `exclude`.

[2019-06-30 21:46] se4u commented on #124
Found them '~/.config/dbxcli`

[2019-06-30 21:46] #124 closed

[2019-07-09 20:14] zouhairm commented on #101
@borkdude - I think you might be referring to https://help.dropbox.com/installs-integrations/desktop/linux-commands which indeed has an exclude command. Unfortunately that CLI is only available for Linux (no OSX or windows support).

Not sure how `dbxcli` works and if that's something that'd be possible to expose at all ... but if it supported the exclude command, it would allow implementing thing

[2019-07-09 21:01] borkdude commented on #101
@zouhairm Indeed, linux CLI supports it, but Mac has no CLI. I think the difference between the linux CLI and `dbxcli` is that the latter talks to the Dropbox API, but does nothing with local configuration, so you can't use it for selective sync if I understand correctly.

[2019-07-10 10:37] rofrol commented on #60
I got errors when using rclone:

[code]
2019/05/31 16:01:00 ERROR : projects/javascript/date/doc/Writing_A_Daytime_Server_In_Node_js_pliki/shCore.js: Failed to copy: failed to open source object: path/restricted_content/...
2019-05-31 16:19:20 ERROR : projects/g2/gopath/.git/objects/12/5883d3cb94901419f70602a09d79830d8cef7b: Failed to copy: failed to open source object: unexpected end of JSON inpu

[2019-07-10 21:48] zouhairm commented on #101
Thanks for explaining how that works. It's really unfortunate. I've had to simply move some projects out of dropbox due to folders (mostly node_modules and some other autogenerated files from my project) that I have no way to easily ignore. I have to do it on a per project basis and can't set rules, so it's limiting.

Really surprised dropbox team hasn't addressed this. I should dust up my rolodex

[2019-07-10 22:57] lfaraone commented on #101
Selective sync settings are per-device, except for [team folders](https://www.dropbox.com/developers/documentation/http/teams#team-team_folder-update_sync_settings). `dbxcli` operates without a local Dropbox client, and instead operates on the Dropbox API as @borkdude notes.

Since there isn't any API we could be calling here to accomplish this feature request, I'm closing this issue.

[2019-07-10 22:57] #101 closed

[2019-07-19 22:58] pascalandy commented on #117
The README says to replace these values:
![Screen Shot 2019-07-19 at 6 56 23 PM](https://user-images.githubusercontent.com/6694151/61569757-f670ae80-aa56-11e9-8dd8-4998422e2be5.jpg)

I agree with you, we need to pass these VAR at runtime to have a clean docker container as we DON'T want to insert API key in the docker image.

[2019-07-20 14:05] pascalandy commented on #117
A hack we can do is to have an ENTRYPOINT to sed 'KEYS' from and ARG pushed at runtime.

[2019-07-20 14:07] pascalandy commented on #117
I guess I'll stick with https://rclone.org/dropbox/.

[2019-07-21 01:35] pascalandy commented on #117
Here is how my Dockerfile would look like:

[code]

I won't continue building this. But it would be easy to do it.
In the ENTRYPOINT, create a bash script that will replace the keys passed as an ENV on runtime.

Cheers!

[2019-07-30 08:25] choisy opened #125 "Can we selectively ignore files?"
Is there a way to ignore files as we do with `.gitignore` in Git, similarly to what is proposed [here](https://github.com/rozbb/DropboxIgnore)?

[2019-08-08 17:36] andmos opened #126 "Homebrew package for Mac"
👋 Hi guys,

Would be cool if there was created a [Homebrew](https://brew.sh) package for macOS to make the installation easy as `brew install dbxcli`

Keep up the good work!

[2019-08-20 15:35] jeromek opened #127 "Broken authentication flow for Teams"
During the oauth workflow I receive a 400 when trying to use the dbx-cli teams features.
I'm the administrator of my team.

$ dbxcli team list-groups
1. Go to https://www.dropbox.com/1/oauth2/authorize?client_id=sa9pv32eixm1i3p&response_type=code&state=state
2. Click "Allow" (you might have to log in first).
3. Copy the authorization code.
Enter the authorization code here: [carefully pasted code

[2019-08-22 15:13] jeromek commented on #127
One thing I noticed was that in the oauth2/authorize page on dropbox.com, dbxcli-team-manage is the app requesting to access my team information, and thats a different app name than when you try to authorize a non-team api call

[2019-09-10 20:28] praveenperera opened #128 "Trouble with cron?"
Has anyone has trouble getting this to work in a cronjob. I saw some similar issues in the gdrive CLI and they were talking about the app not being able to find the auth token in the system.

[2019-09-10 20:46] praveenperera commented on #128
Nevermind exporting the full path before running the script seems to work

[code]

[2019-09-10 20:46] #128 closed

[2019-09-21 11:18] sabjorn commented on #117
@pascalandy

I agree, it can be really nice for an application to handle this stuff by itself automatically (like `NGINX`). However, what you've mentioned isn't really a hack. `ENTRYPOINT`s are really there to do any work necessary to setup your container before running the CMD.

`sed` works great for this but there's also [envsubst](https://unix.stackexchange.com/questions/294378/replacing-only-s

[2019-09-21 11:25] sabjorn opened #129 "Does dbxcli skip transferring files if they are unmodified?"
Was looking through the Dropbox API and couldn't find if this is the case with the web API. And not sure where to look for `dbxcli`.

Basically, wondering if this operates similar to optional `rsync` functionality.

[2019-10-24 16:49] EricKeenan commented on #60
Implimenting a recursive feature would be nice! Is there any functionality with glob queries?

[2019-10-29 14:41] mpr90 commented on #110
Looks like a code change would be required to match the "ls -l" timestamp behaviour. Currently time is "humanized" by the code. Suggest maybe only doing this when a new "-h" option is given and otherwise following ls behaviour as suggested [here](https://stackoverflow.com/questions/36440416/formatting-date-time-in-the-same-way-as-ls-l-command).

[2019-11-03 18:36] boskamp commented on #110
Thanks, I was able to implement the behavior I need by patching cmd/ls.go.

The changes needed, as far as I remember, were one additional import "time" and a change to func printFileMetadata(w io.Writer, e *files.FileMetadata, longFormat bool), replacing
[code]
with
[code]

[2019-11-03 18:36] #110 closed

[2019-11-04 13:34] aharwood2 commented on #60
As this uses `subprocess.run` this will only work in Python 3.5+. I used [this](https://stackoverflow.com/questions/40590192/getting-an-error-attributeerror-module-object-has-no-attribute-run-while) workaround for anyone interested. In addition, you need to change the line `proc.stdout.decode` to `proc.[1].decode` as the workaround returns a tuple.

[2019-11-11 17:09] gohsu commented on #126
Not official, but this [homebrew package ](https://github.com/idleberg/homebrew-dbxcli )worked pretty well for me.

[2019-11-18 14:32] stupkad opened #130 "Where/how does dbxcli store account information?"
Hi there,

first - thanks for this great piece of software.

Could anyone explain how dbxcli is linked to dropbox, and where/how the account information is stored?

Regards,
Dietmar

[2019-11-18 14:33] stupkad opened #131 "Restriction to specific folder for security reasons"
Hi there,

is there a possibility to restrict dbxcli to specific folders within dropbox?

Regards,
Dietmar

[2019-11-21 01:14] mgrandi commented on #130
you login via oauth, it gives you a link for you to paste in your browser, you click accept, and it gives you a token to paste back into `dbxcli` and then it saves the authentication information

According to this method: https://github.com/dropbox/dbxcli/blob/master/cmd/root.go#L154

it stores the authentication configuration at `<HOMEDIR>/.config/dbxcli/auth.json`

[2019-11-21 01:25] mgrandi opened #132 "`search -l` doesn't have newlines in output"
doing `ls -l` works properly:
[code]

but doing `search -l` seems to be missing new lines
[code]

it looks like this snippet is missing in search.go, that is present in ls.go:

[code]

https://github.com/dropbox/dbxcli/blob/master/cmd/ls.go#L117
https://github.com/dropbox/dbxcli/blob/master/cmd/search.go#L54

[2019-12-01 07:54] OliverAbraham opened #134 "Unable to copy a file from dropbox to a local windows folder"
I can't find any documention on how to specify the file name for my local disk. The parameter "--verbose" you suggested doesn't help at all.
So - dbxcli is NOT self documenting.
A simple example how to get started is missing or i can't find it.

I typed:
dbxcli cp "FolderInDropbox/Filename" "C:\" --verbose.
That doesn't work.
It simply says "copy error . . .  false false false". Is that self docum

[2019-12-17 04:10] AlJohri commented on #126
Bumping this- please create an official homebrew package.

[2020-03-04 06:29] mjbright opened #135 "'search -l' should show dates"
Searching with -l option should be able to show dates rather than '2 months ago'.

This could be a further option.

It would be useful to produce a sorted output list also (mod date, size, ...)

[2020-03-12 11:46] tmpm697 opened #136 "Can't authorize app"
I stuck with `"Enter this code into xxxxxxxxxxxxx to finish the process."`. When I enter code to `"Enter the authorization code here:"`. This app give below errors:

[code]

[2020-03-24 08:38] #136 closed

[2020-03-30 19:45] jpgard opened #137 "Unclear copy error using cp"
I'm trying to copy a directory containing several large files from my dropbox to a server. I can see the directory, and its contents, when using `ls`. However, running the `cp` command produces output that isn't helpful; in fact I have no idea what the error is or whether this may be a bug with `dbxcli`, my command, or my dropbox.

`dbxcli cp /my-dropbox-folder .`

Output:

[code]

What might be t

[2020-03-30 19:53] jpgard commented on #137
Actually, I see this is because I should have used the `get` command, not `cp`. Perhaps that could be more clearly flagged in the documentation.

[2020-04-07 08:53] jczaja opened #138 "Is it possible to Edit text files ?"
I just bumped into this wonderful project. It would be amazing for me if I can edit remote text files:
dbxcli edit <my remote file> --editor=<my editor >

The way I see it:
1) Execute request to edt file
2) file is downloaded into temporay local space
3) Eding a file
4) saving changes and closing editor -> automatically update is sent to dropbox space

currently I use get/edit locally/put cycle. B

[2020-05-06 16:28] aprknight opened #141 "Controlling Smartsync from Python"
There was a question raised about this back in 2018 on StackOverflow [here](https://stackoverflow.com/questions/52745027/python-and-dropbox-how-to-change-smartsync-setting-for-locally-created-files)

The only respondent to that question was the mysterious Greg who said that he would "...pass this along as a feature request..."

As far as I can tell, this is still not possible. Maybe I'm wrong and

[2020-05-12 07:16] mwolf1989 commented on #130
A question according this: Is the authentication for ever or is there a timeout and I have to renew it after x- days?

[2020-05-12 07:29] mgrandi commented on #130
as far as i can tell, dropbox doesn't support getting a token for a certain period of time, so it should last until the token is revoked either through the API or through https://www.dropbox.com/account/connected_apps

[2020-05-12 07:32] mwolf1989 commented on #130
@mgrandi this is totally fine for me. I want to use it in a more or less headless context. Thanks!

[2020-06-23 16:10] fadookie commented on #113
This is the only feature I'd actually install this tool for, seems like almost everything else can be handled by just using the filesystem and letting the dropbox daemon handle syncing in the background.

[2020-07-03 17:50] Yostage commented on #122
I hit this too. You can work around it by appending a filename to the target, but the bigger problem to me was that it did the full upload (15 GB) and then failed at the end.

[2020-07-09 22:50] aeheathc opened #142 "Random failures in upload: "ng" and "EOF""
I have an uploading script that calls dbxcli once for every file in a list sequentially (one at a time). I gave it about 30 files and about half of the uploads succeeded, the others failed at a random time in uploading. Retrying the failed files gives a different result, sometimes they are successful. All the files are less than 100GB.

There are two errors that can happen:
- Error: ng 4.5 GiB/93

[2020-07-16 15:42] tentrillion commented on #113
Would love CLI to get sharable links.

[2020-07-26 18:47] nisargshah1999 opened #143 "How to change the configured dropbox account?"

[2020-07-28 20:36] mrichman commented on #122
@Yostage I just hit the same issue. I uploaded 17 GB just to learn that I had to specify a filename, not just a directory, as the target.

[2020-08-03 09:36] biounix commented on #113
These other tools provide that functionality:

https://github.com/watermint/toolbox

https://github.com/andreafabrizi/Dropbox-Uploader (not maintained but still working).

[2020-08-03 09:40] biounix commented on #77
To anybody interested in that option:

https://github.com/dropbox/dbxcli/issues/113#issuecomment-667919621

[2020-08-16 19:39] yuriw opened #144 "Question - is i possible to get a dir with files ? <eom>"

[2020-08-16 20:23] yuriw commented on #144
I can download a single file but not a dir.
Is it supported?

[2020-08-29 09:13] kessack opened #145 "Can't oauth2 Authorise the app"
I'm using
- arch linux v5.8.1-arch1-1
- bash v5.017
- google chrome v84.0.4147.125 (Official Build) (64-bit)
- dropbox v104.4.175

I have installed dbxcli from the AUR with
aur/dbxcli 3.0.0-1 (+6 0.00) (Installed)

This seems to be the latest v3.0.0-1 version of dbxcli.

Here's the problem.
At first use, after install, I log in on my dropbox web page, as suggested for the process of initial oauth2

[2020-09-01 08:24] ke-ss commented on #145
I got it working by compiling.

[2020-09-12 16:50] mrichman opened #146 "Reliably upload 1TB via CLI"
How can I reliably upload 1TB of files via command line? Files average 80MB each. I need to automatically retry/resume failed downloads. My upstream bandwidth is ~300 Mbps.

[2020-09-27 18:33] brightersun99 opened #147 "root.go does not exist....."
/home/staff_test/go/src/github.com/dropbox/dbxcli
88typenoob$ ls
CHANGELOG.md Gopkg.toml   README.md    cmd          dbxcli       vendor
Gopkg.lock   LICENSE      build.sh     contrib      main.go
88typenoob$

?

[2020-09-27 20:30] lfaraone commented on #147
Is there a question here? Please reference the [documentation](https://github.com/dropbox/dbxcli#instructions-for-building-yourself)

[2020-09-27 20:30] #147 closed

[2020-10-07 08:17] resolritter commented on #145
For Arch users this can be solved by setting your app's credentials during package build

https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=dbxcli#n16

As example, installing it through `yay`

[code]

By building it this way, running `dbxcli account` and going through the OAuth flow will work

[2020-10-21 20:33] asanakoy commented on #60
Still not working? How to download a folder?

[2020-10-22 04:11] tashrifbillah commented on #53
Hi all,

`dbxcli put` search brought me here. So, I am just putting in an example command for uploading files that I figured:

Then, follow the instruction on the command line for authentication. I hope it helps folks like me reaching here.

[2020-10-22 13:13] tashrifbillah commented on #116
Same issue with

Any comment please?

[2020-10-22 14:24] tashrifbillah opened #148 "dbxcli put is slow"
Hi all,

See my network speed:

[code]

Yet, `dbxcli put` is uploading my file (sized ~10GB) at only ~200 kb/s. I have an enterprise account though.

Any comment please?

[2020-10-23 05:49] tashrifbillah commented on #148
Upload via `dbxcli` took six hours while download via `wget` took only **two minutes**.

[2020-10-26 14:28] thestick613 opened #149 "Receiving Error: too_many_requests/. when trying to PUT a file"
[code]

[2020-11-07 09:34] imerelli opened #150 "Error: invalid character '<' looking for beginning of value"
Hi, I'm using dbxcli since almost one year without problems, on multiple servers and with multiple users. A few days ago on some servers (and with all the users of those servers) I'm experiencing this problem:

$ ./dbxcli ls
Error: invalid character '<' looking for beginning of value

I'm not able to figure out what is going on and why on some servers it works while on others It doesn't.
Below the

[2020-11-07 10:03] imerelli commented on #150
By the way, how is it possible to reset a user account?

[2020-11-07 10:07] imerelli commented on #150
./dbxcli ls
1. Go to https://www.dropbox.com/1/oauth2/authorize?client_id=07o23gulcj8qi69&response_type=code&state=state
2. Click "Allow" (you might have to log in first).
3. Copy the authorization code.
Enter the authorization code here: 6gaakIvFUCAAAAAAAAAqLtoVJVW-49iVpHbTIvtY1pI
Error: oauth2: cannot fetch token: 410 Gone
Response: <!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" co

[2020-11-24 18:43] tashrifbillah opened #151 "[HELP] Download data w/o having to authorize from the web interface?"
I downloaded `dbxcli-darwin-amd64` from the release page. I authorized it from my local computer+dropbox profile and obtained credentials like below:

[code]

Now I would like to download a dropbox hosted file inside an Azure pipeline:

Although I provided `--as-member`, it asks for authorization from the web interface again. Is it expected? In other words, is there a way within `dbxcli` to downlo

[2020-11-26 23:51] g40 opened #152 "How to correctly specify the target directory for put?"
It's a really simple question I think. How does one specify the target directory? In the first chunk of spew (below) my home folder has an existing directory called Pi0.

The second variety "works" but fails to deliver anything to the suggested folder.

Invoking the `verbose` option is really not helpful. See 3:

A simple example of correct usage would be most helpful. Any thoughts much appreciate

[2020-11-27 19:18] bjenny opened #153 "Help: put with wildcards"
Hi

Beginners question:
I would like to upload all files in a folder to dropbox.
Is this possible? The put command seems not to accept wildcards.
I tried:
dbxcli put c:/users/Myusername/pictures/*.* /Destinationfolder/*.*

Thanks for help .... and thank you for this nice program.

Bruno

[2020-12-03 17:27] mauricev opened #154 "Error: missing_scope/"
At first, dbxcli ls asked for an authorization code. Then it reported it didn't have the required scope. I believe I changed what it need by giving it read access to everything under individual.

Now the ls command reports
`Error: missing_scope/.`

[2020-12-11 21:42] jondb opened #155 "Can the maintainers bump the version to the latest dropbox-sdk-go?"
Can someone with some familiarity with this stuff upgrade the dependency? There are some features in the sdk-go I'd like to take advantage of around creating shared links.

https://github.com/dropbox/dropbox-sdk-go-unofficial/blob/2f186d1020b6b6901eacb0b6b82c7fc676fd5995/dropbox/sharing/types.go#L600

[2020-12-16 15:25] flaiming commented on #127
I have exactly the same problem. Team auth is broken.

[2020-12-31 02:55] MarkMichaelis opened #156 "Verbose Logging"
There multiple occasions when an err is returned and then ignored with code such as:
[code]
I'd like to start logging these so that they appear when the --verbose/-v flag is active.  Does this make sense?

Regardless, what is the recommended code pattern for logging messages when verbose mode is active?

[2021-01-01 16:42] arcadeperfect opened #157 "Can it be used to exclude files from syncing?"
Equivalent to "dropbox exclude" on the dropbox linux command line tool

[2021-01-02 01:38] szarnyasg commented on #75
This issue is still present (using version a871c88e22f4575d2f2cb1b77af9a91975acd296) when downloading large files. I have a 200 GB file which can reproduce this issue reliably. I can download 20 GB files, so the problem arises somewhere between these two sizes.

[2021-01-06 15:48] fauconab commented on #154
I'm also encountering this issue.

[2021-01-12 11:04] #155 closed

[2021-01-19 18:38] maurera opened #160 "Step 7 no longer valid? No file named root.go"
I'm trying to run dbxcli on a Raspberry pi 4. I tried using the arm binary, but it doesn't seem to work. I'm now trying to build from source instead.

Step 7 of the build instructions in the Readme says

However, I don't see a file named root.go in the directory `~/go/src/github.com/dropbox/dbxcli`. There are files main.go, go.mod, go.sum, etc.

If I skip this step and build, then I get the follow

[2021-01-19 23:29] maurera commented on #160
Solved. `root.go` is in subfolder cmd. Step7 of the Readme should be updated to reflect this

[2021-01-20 22:01] kyle-belle opened #161 "Error: invalid_access_token/.."
For whatever reason near every command i try to run gives this error. even trying to logout. i even removed the dbxcli executable from ~/bin and downloaded again. this is on a linux unbuntu system.
is there a file where this access token is stored so i can delete it?

[2021-01-21 11:48] GeoJunkie opened #162 "Feature request: Smart Sync"
I'd love to be able to automate some aspects of the Smart Sync for my Dropbox, such as switching an online only file to local or vice versa from the command line.

Could `smart-sync` commands be added to dbxcli?

[2021-02-09 23:01] rjhornsby commented on #154
Hitting the same problem - but it only seems to happen when using any `dbxcli share` commands. Noting it in this issue because maybe the error message could be more specific?

Enabled these permissions, but it hasn't fixed the issue
[code]

[2021-02-18 17:47] mauricev opened #163 "json:cannot unmarshall object"
I'm uploading a file with the command dbxcli put -v E:\20g under Windows 10. The upload proceeds mostly fine until it fails with

cannot unmarshal object into Go value of type string

[2021-02-23 09:42] hongyuanjia commented on #162
That would definitely be very useful. Wish dbxcli could have this feature!

[2021-03-12 14:32] robhenley commented on #161
Removing `~/.config/dbxcli/auth.json` is a temporary fix that worked for me.

[2021-03-29 02:12] orangeSi opened #164 "ip error when configure account"
[code]

[2021-04-01 06:34] arafatx commented on #16
Oh my ... spending more than 3 hours looking for reauthorization, finally that is the directory it stored. should have put this in the main documentation in Beginner section !

[2021-04-23 13:36] WillFantom commented on #126
Another bump!

[2021-04-27 14:28] diwakergupta opened #167 "Transfer ownership"
Hi all, I started this project while I was at Dropbox. It obviously hasn't been maintained since I left (just look at the issues and commits). I was wondering if Dropbox would want to / prefer transferring this project (and https://github.com/dropbox/dropbox-sdk-go-unofficial) to me?

I can obviously clone the repos, but would like to preserve existing issues etc if possible.

cc/ @rajatgoel (not

[2021-04-28 00:35] rajatgoel commented on #167
Hi @diwakergupta, how are you :)

I asked open-source team internally and they are wondering if you would be interested in getting write access to the repo to continue contributing to it. That approach has the benefit of all the existing imports working as-is. Also keeping them under "dropbox/" gives them a little more credibility even though Dropbox is not actively able to invest in these project

[2021-05-03 13:32] diwakergupta commented on #167
👋🏽 @rajatgoel ! Sure, I'm happy to try this route but I'd like to request admin access since I'd like to be able to make changes to Github workflows, use GH actions etc which are hard to do with write access only. LMK!

[2021-05-06 15:36] rajatgoel commented on #167
Hi. The team has granted write permission to begin with (they have never had to grant admin permission before so want to evaluate that before granting it).

In the meantime if you get blocked somewhere because of missing admin permission, do ping and they will be happy to help.

[2021-05-06 15:36] #167 closed

[2021-05-10 19:48] bluenote10 opened #168 "How to handle multiple accounts?"
I use multiple Dropbox accounts for different purposes. How does the OAuth authenciation decide which of my accounts it is authorizing against? Or how can I control which one is used?

[2021-05-14 17:36] WillFantom commented on #168
I know this isn't too helpful given the activity on this repo from Dropbox seems pretty minimal... But I added a PR (#165) that would allow for multiple user accounts to be defined in the configuration file and selected via a `--profile <>` flag...

[2021-06-07 22:03] designxtek commented on #142
I ran into Error: ng at 99GiB. Not sure why.

[2021-06-16 09:26] kkm commented on #113
+1

[2021-06-22 22:05] KunFang93 opened #171 "Is it possible to add -p parameter for mkdir and -r parameter for put?"
Hi,

Thanks for providing this awsome command line tool. I was wondering if it is possible to add -p paramemter for mkdir (no error if the folder exist) and -r parameter for put (upload folder). Thanks again!

Best,
Kun

[2021-06-26 22:00] cpb commented on #154
Does this persist after logging out with `dbxcli logout` ?

[2021-06-30 19:10] craigyk commented on #163
I am also encountering this issue at the very end of a put operation.

[2021-06-30 19:30] craigyk commented on #163
figured out, it was failing to parse the error response with cited a malformed path- after a 20 min upload.  dbxcli does not expand a `.` to the filename.

[2021-07-23 15:33] shadiakiki1986 commented on #53
FWIW I created `dbxcli_sync` as a CLI that calls `dbxcli` to solve this and sync a local directory to a dropbox directory.
For more details: https://github.com/shadiakiki1986/dbxcli-sync

[2021-07-24 09:51] shadiakiki1986 commented on #146
Could use `dbxcli-sync` from https://github.com/dropbox/dbxcli/issues/53#issuecomment-885722528

[2021-07-27 18:10] shadiakiki1986 commented on #60
[dbxcli-sync](https://github.com/shadiakiki1986/dbxcli-sync) has a `getr` command based on the code by @debuti  [above](https://github.com/dropbox/dbxcli/issues/60#issuecomment-467080402)

[2021-08-07 16:14] szabgab opened #174 "Error: path/conflict/folder/. only after full upload - should be at start if upload"
As a first-time user of `dbxcli` I just ran a command like this:

[code]
After it spent ages uploading all the file I got an error `Error: path/conflict/folder/.`

Fair-enough, I should have specified the target filename as well writing `dbxcli put bigfile.mp4 /Cloud_only/Videos/MP4/bigfile.mp4`, but it would be much nicer if the error message came right at the beginning of the upload and not afte

[2021-08-07 16:50] szabgab opened #175 "improved docuemtation (for put)"
I am trying to figure out how `put` works so I ran ` dbxcli put -h` and this was the ourput:

[code]

From this it seems the target is optional, but unclear what will happen if I don't provide it.

From this I could not guess that the target needs to include the name of the the target file, and I cannot "put a file into a directory" (see #174)

It is unclear if I can put a whole directory recursiv

[2021-08-07 17:00] szabgab opened #176 "syncing a whole directory down"
I'd like to be able to connect an external hard-disk to my computer and sync all the content of my Dropbox (or just a specific folder) from the cloud directly to this disk to have my own private backup.

Later I would like to sync again with an operation that can take into account what I already have on my local external disk so not to download all the files again.

Is it already possible with dbx

[2021-08-07 18:33] szabgab opened #178 "Dropbox account for testing"
As I can see currently there are no tests for this package. It would be nice if someone at Dropbox could create an account that could be used to set up CI testing of this code-base.

[2021-08-07 19:11] szabgab opened #179 "ls only works on directories. It fails when path of individual file is provided"
[code]

[code]

[2021-08-09 15:24] #179 closed

[2021-08-09 15:24] #175 closed

[2021-08-17 13:52] stephrosenblatt opened #181 "Support for new changes to tokens and permissions?"
We received an email back in April 2021 regarding changes to access tokens and ID formats in the Dropbox API that will take place on Sept 30, 2021.

We use the dbxcli to upload a single file at a time to our Dropbox account.

Will this cli tool be updated to support the changes to access tokens, or will we have to find a new solution for uploading a file to our account? If if will be updated, what

[2021-10-19 18:54] helenhuangmath opened #182 "upload / download folders"
Hi dropbox team,
Does dbxcli support folder uploading or downloading now? What command should I use for folder operation? Thank you!

[2021-11-08 02:45] lkroeh commented on #154
I was able to fix this issue after doing dbxcli logout, changed the permissions to not include any team scopes, and re-logged in

[2021-11-19 10:14] davidmles commented on #131
Two years later, this is still not possible. Is it planned in any roadmap?

[2022-01-16 08:21] conphi commented on #182
`dbxcli ls -l "path/to/folder/to/download"|awk -F"ago" '{print $2}'|sed -e 's/^[[:space:]]*//' -e 's/[[:space:]]*$//'|xargs -I{} dbxcli get {} .`

[2022-04-04 13:11] lumosideas commented on #182
Hi, this command is to download a directory, what about upload `put` a full directory to dropbox?

Thank you

[2022-04-05 21:24] jrdnr opened #184 "Unable to Re-Setup Dropbox connection"
I had dbxcli.exe set up and working, then today it started throwing an error that the app was disabled.  I tried to figure out a way to fix it on the Dropbox app side but when I couldn't find a way to reenable it I figured I should be able to just remove the app and re-set it up.  But now I get the erorr

How can I re-set all the tokens on my local system so I can re-setup the connection to dropbo

[2022-04-05 21:58] funline commented on #184
I have this problem too ((

[2022-04-05 23:26] siffegh commented on #184
Ditto. I disconnected the app from Dropbox, renamed auth.json, and entered 'dbxcli account' at the command line.
That returned the 'Go to https://www.dropbox.com...' URL to allow access, but when going there, I got a screen with 'This app is currently disabled.' Unfortunately, this looks like DB has disabled access via dbxcli. Hope I'm wrong!

[2022-04-06 04:34] jrdnr commented on #184
Where was the auth.json file? I don't remember seeing one anywhere.

[2022-04-06 05:36] siffegh commented on #184
On Win - C:\Users\<your username>\.config\dbxcli

[2022-04-06 05:39] siffegh commented on #184
Doh, should be C:\Users\your username_backslash_.config\dbxcli

[2022-04-06 07:29] rvdsteege commented on #184
I'm also having issues. The following error occurs when trying to upload files:

[code]

Like @siffegh said, after moving the `~/.config/dbxcli/auth.json` file out of its place, I got the "Go to https://www.dropbox.com/..." message when trying `dbxcli account`, but visiting the URL results in a message:

[code]

[2022-04-06 10:39] jrdnr commented on #184
Sounds like we all need to open drop box support tickets. As long as dbxcli is supported a native command to clear the cashed info in the `config.json` file would be nice. But from what everyone is saying the error about the app being disabled sounds like drop box changed something on their end.

[2022-04-06 12:09] gioxx commented on #184
This is the reply to my ticket (escalated to API support engineer):
![immagine](https://user-images.githubusercontent.com/1768601/161971184-c9b37c2a-33e6-4e34-8448-16bcba1b96e6.png)

I'm trying to contact my Dbox Customer Success Manager to discuss it.

[2022-04-06 12:17] rvdsteege commented on #184
Thank you for sharing, @gioxx. Is Dropbox not "the creator" of `dbxcli`? This repository is in the https://github.com/dropbox/ organisation on GitHub… :confused:

[2022-04-06 12:19] gioxx commented on #184
@rvdsteege exactly. This is the point.

![immagine](https://user-images.githubusercontent.com/1768601/161972897-448ae39a-7741-48fd-9a46-5e816f8545af.png)

[2022-04-06 12:25] greg-db commented on #184
Thanks for the report all. This should be working again now.

[2022-04-06 12:25] #184 closed

[2022-04-06 21:53] siffegh commented on #184
Thanks, all :-)

[2022-04-06 22:07] funline commented on #184
thanks for all!

[2022-04-11 05:12] xinyuwang1209 opened #185 "Error when uploading a large file"
File size is ~4.9GB. The error occurred during ~2GB/4.9GB
I used the option --verbose and got the following outputs:

...
2022/04/11 01:04:00 sdk.go:94: resp: &{200 OK 200 HTTP/2.0 2 0 map[X-Server-Response-Time:[862] Content-Type:[application/json] Date:[Mon, 11 Apr 2022 05:03:59 GMT] Server:[envoy] Content-Length:[4] Strict-Transport-Security:[max-age=31536000; includeSubDomains; preload] Cache-

[2022-04-23 09:21] slavik-r commented on #185
Exactly the same has been happening for me for about a month. The HTTP 500 error happens at random point in time and at random upload progress

[2022-04-23 17:09] PowZone commented on #162
me too

[2022-04-23 17:09] PowZone opened #186 "Change a file/folder status from Local to Online Only and Online Only / Local"
Hello,
I have to move several TB of data from one team dropbox to another and via web this is not possible since the operation stops for every share issue.

I'm doing it using my pc as bridge and it would be really useful to be able to set a file as local or online only via cmd line.

[2022-05-19 11:57] neiron-guimaraes commented on #185
Same here, dbxcli version: v3.0.0, SDK version: 5.4.0, Spec version: 097e9ba

[2022-05-24 12:36] arayiksmbatyan opened #188 "Dropbox CLI Error: ng"
<img width="1027" alt="dropbox-issue" src="https://user-images.githubusercontent.com/23166391/170036205-d0212d63-7314-4b1a-8f95-2e8ec6b48aad.png">

[2022-06-13 10:21] xwitty opened #189 "How to use specific proxy (not system proxy)"
windows binary v3.0
I am sitting behind a firewall and complex proxy-configuration, which is blocking dropbox.com.
A local proxy on my machine enables access to dropbox.com.

=> how can I force dbxcli, to use this specific proxy?

[2022-06-19 09:11] anoduck opened #192 "Cannot locate/load 'libc.so.94.0' out of src directory"
Although, `go get ...` is now deprecated, I was able to clone the repo into `$GOPATH/src` and successfully build the binary. As long as the binary was executed from within the source directory, it appears to work great, but if executed from anywhere else in the file system the error `ld.so: dbxcli: can't load library 'libc.so.94.0'` is received.

This is just "weird", but it probably has something

[2022-06-19 23:08] mattpetters commented on #162
I would also love this

[2022-07-01 08:26] ashhulme opened #193 "go get github.com/dropbox/dbxcli cannot find module providing package"
getting the below errors when running the following command

root@:~/go# go get github.com/dropbox/dbxcli

github.com/dropbox/dbxcli imports
        github.com/dropbox/dropbox-sdk-go-unofficial/dropbox: cannot find module providing package github.com/dropbox/dropbox-sdk-go-unofficial/dropbox
github.com/dropbox/dbxcli imports
        github.com/dropbox/dbxcli/cmd imports
        github.com/dropbox/

[2022-07-02 16:53] ostrolucky opened #194 "Feature requrest: Upload from standard input"
It would be great if I could upload standard input to dropbox directly. This would also creating eg. external compressed backups without having to create a backup locallly first.

[2022-08-27 20:53] rustyx commented on #79
`dbxcli` should print a warning if started with dummy credentials, explaining the issue.

Not everyone reads installation instructions since `go install` is usually the way to install a Go tool.

And BTW, the instructions are incomplete as one also needs to add scopes (files.metadata.read, etc. are not enabled by default)

[2022-09-03 03:05] Qadisha opened #195 "Multiple auth.json"
Hi,

is there any way to pass dbxcli and argument with the auth.json path?
We're currently using a couple of Jenkins jobs working with different Dropbox accounts and we have issues in running them simultaneously.

Thanks
Antonino

[2022-09-14 00:59] edoyango commented on #75
Are there any updates on this? This is happening to me now with a 164GiB file:
[code]

[2022-09-28 00:11] kevingreenman commented on #152
This is a pretty old issue, but here's my solution since I spent a while trying to figure it out today, and I suspect it may be helpful to others who search for this in the future. It seems that the target needs to include the whole file path (in the form `<TARGET_DIR>/<FILE_NAME>`), where `TARGET_DIR` is an absolute path from the root directory `/`. So for your example, assuming `Pi0/` is in the

[2022-11-03 21:56] nightpool commented on #75
This is also happening to me with large files.

[2022-11-24 18:42] lpares12 commented on #182
@lumosideas did you manage to do it?

[2022-11-25 06:09] lumosideas commented on #182
Hi, no, I have not receive answers to my question so I decide to use this script:

https://github.com/andreafabrizi/Dropbox-Uploader

However, I'm looking forward for an answer here.